<div ng-controller="EnumerationValuesMergeCtrl as ctrl">

  <div ng-include="ctrl.templateUrl('common/app_header')"></div>

  <main>

    <div
        ng-show="ctrl.loading"
        ng-include="ctrl.templateUrl('common/processing')">
    </div>

    <div ng-hide="ctrl.loading">

      <h1>Merge {{ ctrl.enumerationName | removeUnderscores }} values</h1>

      <p>After the merge, all records associated with the "merge from" value will become associated instead with the "merge into" value.</p>

      <p>The original "merge from" value will remain in the system but will become eligible for deletion.</p>

      <p class="warning">Use caution when using this feature - changes cannot be undone once the merge is complete.</p>

      <div class="form-field">
        <label>Merge from value:</label>
        {{ ctrl.enumerationValue.value }}
        ({{ ctrl.enumerationValue.associated_records_count }} records)
      </div>

      <div class="form-field">
        <label>Merge into value:</label>
        <select ng-model="ctrl.mergeIntoId">
          <option
              ng-repeat="evalue in ctrl.mergeIntoValues"
              value="{{ evalue.id }}">
            {{ evalue.value }}
            ({{ evalue.associated_records_count }} records)
          </option>
        </select>
      </div>

      <button
          class="button"
          ng-click="ctrl.mergeEnumerationValues()">
        Save changes
      </button>

      <button
          class="button"
          ng-click="ctrl.goto('/settings/enumeration_values/list/' + ctrl.enumerationValue.enumeration_name)">
        Cancel
      </button>

    </div>


    <div ng-if="ctrl.debug" class="data-panel">
      <div>{{ ctrl.enumerationValue | json }}</div>
    </div>

  </main>

</div>
