<div ng-controller="EnumerationValuesNewCtrl as ctrl">

  <div ng-include="ctrl.templateUrl('common/app_header')"></div>

  <main>

    <div ng-show="ctrl.loading" ng-include="ctrl.templateUrl('common/processing')"/>

    <h1>Create {{ ctrl.enumerationName | removeUnderscores }}</h1>

    <div ng-hide="ctrl.loading">

      <div ng-include="ctrl.templateUrl('enumeration_values/form_fields')"/>
        <button
            class="button"
            ng-click="ctrl.createEnumerationValue()">
          Create
        </button>

        <button
            class="button"
            ng-click="ctrl.goto('/settings/enumeration_values/list/' + ctrl.enumerationName)">
          Cancel
        </button>
      </div>

      <div ng-if="ctrl.debug" class="data-panel">
        {{ ctrl.enumerationValue | json }}
      </div>

    </div>

  </main>

</div>
