<div ng-include="templateUrl('common/app_header')"></div>

<div ng-show="loading" ng-include="templateUrl('common/processing')"/>

<h1>Edit order sub-type</h1>

<div ng-hide="loading">

  <div  class="form-field">
    <div class="label">Name (not editable)</div>
    {{ orderSubType.name }}
  </div>


  <div class="form-field">
    <div class="label">Label</div>
    <input type="text" ng-model="orderSubType['label']"/>
  </div>


  <div class="form-field">
    <input type="checkbox" ng-model="orderSubType['default']" value="true"/>
    <span class="label inline">Default for
      {{orderSubType['order_type']['name']}} order type?</span>
  </div>


  <div class="form-field">
    <div class="label">Default location</div>
    <select ng-model="orderSubType['default_location_id']" convert-to-number>
      <option ng-repeat="location in circaLocations" value="{{ location['id'] }}">{{location['title']}}</option>
    </select>
  </div>


  <button class="button" ng-click="updateOrderSubType()">Save changes</button>

  <button class="button" ng-click="goto('/settings/order_sub_types')">Cancel</button>

</div>


<div ng-if="debug" class="data-panel">
{{ orderSubType | json }}
</div>
