<nav class="app-nav">

  <span class="nav-link">
    <a ng-click="ctrl.goto('/orders')" ng-class="ctrl.section == 'orders' ? 'current' : ''">
    <!-- <i class="fa fa-bell-o"></i> -->
    Orders</a>
  </span>

  <span class="nav-link">
    <a ng-click="ctrl.goto('/items')" ng-class="ctrl.section == 'items' ? 'current' : ''">
    <!-- <i class="fa fa-cubes"></i> -->
    Items</a>
  </span>


  <span class="nav-link">
    <a ng-click="ctrl.goto('/users')" ng-class="ctrl.section == 'users' ? 'current' : ''">
    <!-- <i class="fa fa-cubes"></i> -->
    Users</a>
  </span>


  <span class="nav-link">
    <a ng-click="ctrl.goto('/locations')" ng-class="ctrl.section == 'locations' ? 'current' : ''">
    <!-- <i class="fa fa-cubes"></i> -->
    Locations</a>
  </span>


  <span class="nav-link">
    <a ng-click="ctrl.goto('/reports')" ng-class="ctrl.section == 'reports' ? 'current' : ''">
    <!-- <i class="fa fa-cubes"></i> -->
    Reports</a>
  </span>


  <span class="nav-link" ng-if="ctrl.currentUserIsAdmin">
    <a ng-click="ctrl.goto('/settings')" ng-class="ctrl.section == 'settings' ? 'current' : ''">
    <!-- <i class="fa fa-cubes"></i> -->
    Settings</a>
  </span>

</nav>


<div class="header-flash">
  <div ng-if="ctrl.flash" class="flash">{{ ctrl.flash }}</div>
</div>
