<div class="row collapse">

  <div class="small-9 columns">
    <input type="search" placeholder="Enter search term..." ng-model="searchParams.q">
  </div>

  <div class="small-3 columns">
    <a class="button postfix" ng-click="search()">Search</a>
  </div>

</div>


<div class="row" ng-show="searchParams.active">

  <div class="small-12 columns search-info">
    <span class="info">Showing only records matching <span class="term">{{ searchParams.q }}</span></span>
    <span class="link show-all" ng-click="searchReset()">Show all</span>
  </div>

</div>
