<div>

<div class="row">
  <div id="home-title">Circa</div>
</div>

<div class="row big-nav">

  <div class="large-1 columns show-for-large-only" ng-if="!currentUserIsAdmin">&nbsp;</div>

  <div class="large-2 medium-4 small-6 columns big-nav-item">
    <div class="big-nav-icon">
      <i class="fa fa-bell-o"></i>
    </div>
    <div class="big-nav-text">Orders</div>
    <a href="#/orders" class="big-nav-link">&nbsp;</a>
  </div>

  <div class="large-2 medium-4 small-6 columns big-nav-item">
    <div class="big-nav-icon">
      <i class="fa fa-cubes"></i>
    </div>
    <div class="big-nav-text">Items</div>
    <a href="#/items" class="big-nav-link">&nbsp;</a>
  </div>

  <div class="large-2 medium-4 small-6 columns big-nav-item">
    <div class="big-nav-icon">
      <i class="fa fa-users"></i>
    </div>
    <div class="big-nav-text">Users</div>
    <a href="#/users" class="big-nav-link">&nbsp;</a>
  </div>

  <div class="large-2 medium-4 small-6 columns big-nav-item">
    <div class="big-nav-icon">
      <i class="fa fa-building-o"></i>
    </div>
    <div class="big-nav-text">Locations</div>
    <a href="#/locations" class="big-nav-link">&nbsp;</a>
  </div>

  <div class="large-2 medium-4 small-6 columns big-nav-item">
    <div class="big-nav-icon">
      <i class="fa fa-table"></i>
    </div>
    <div class="big-nav-text">Reports</div>
    <a href="#/reports" class="big-nav-link">&nbsp;</a>
  </div>

  <div class="large-2 medium-4 small-6 columns big-nav-item" ng-if="currentUserIsAdmin">
    <div class="big-nav-icon">
      <i class="fa fa-gear"></i>
    </div>
    <div class="big-nav-text">Settings</div>
    <a href="#/settings" class="big-nav-link">&nbsp;</a>
  </div>

  <div class="large-1 columns show-for-large-only" ng-if="!currentUserIsAdmin">&nbsp;</div>

</div>


<div class="dashboard" ng-controller="DashboardCtrl as dashboard">

  <div class="tabs">

    <div class="tab" ng-class="dashboard.active == 'pendingTransfers' ? 'active' : ''">
      <span ng-show="dashboard.active != 'pendingTransfers'" class="link" ng-click="dashboard.setActive('pendingTransfers')">Pending transfers</span>
      <span ng-show="dashboard.active == 'pendingTransfers'">Pending transfers</span>
    </div>

    <div class="tab" ng-class="dashboard.active == 'returnsInTransit' ? 'active' : ''">
      <span ng-show="dashboard.active != 'returnsInTransit'" class="link" ng-click="dashboard.setActive('returnsInTransit')">Returns in transit</span>
      <span ng-show="dashboard.active == 'returnsInTransit'">Returns in transit</span>
    </div>

    <div class="tab" ng-class="dashboard.active == 'itemsInTransitForUse' ? 'active' : ''">
      <span ng-show="dashboard.active != 'itemsInTransitForUse'" class="link" ng-click="dashboard.setActive('itemsInTransitForUse')">Items in transit for use</span>
      <span ng-show="dashboard.active == 'itemsInTransitForUse'">Items in transit for use</span>
    </div>

    <div class="tab" ng-class="dashboard.active == 'courseReserves' ? 'active' : ''">
      <span ng-show="dashboard.active != 'courseReserves'" class="link" ng-click="dashboard.setActive('courseReserves')">Course reserves</span>
      <span ng-show="dashboard.active == 'courseReserves'">Course reserves</span>
    </div>

    <div class="tab" ng-class="dashboard.active == 'digitalObjectRequests' ? 'active' : ''">
      <span ng-show="dashboard.active != 'digitalObjectRequests'" class="link" ng-click="dashboard.setActive('digitalObjectRequests')">Digital object requests</span>
      <span ng-show="dashboard.active == 'digitalObjectRequests'">Digital object requests</span>
    </div>

  </div>


  <div class="row dashboard-display">
    <div ng-show="dashboard.active == 'pendingTransfers'" ng-include="templateUrl('dashboard/pending_transfers')"></div>
    <div ng-show="dashboard.active == 'returnsInTransit'" ng-include="templateUrl('dashboard/returns_in_transit')"></div>
    <div ng-show="dashboard.active == 'itemsInTransitForUse'" ng-include="templateUrl('dashboard/items_in_transit_for_use')"></div>
    <div ng-show="dashboard.active == 'courseReserves'" ng-include="templateUrl('dashboard/course_reserves')"></div>
    <div ng-show="dashboard.active == 'digitalObjectRequests'" ng-include="templateUrl('dashboard/digital_object_requests')"></div>
  </div>

</div>


</div>
