<div ng-include="templateUrl('common/app_header')"></div>

<h1>Item history</h1>


<div ng-include="templateUrl('items/item_detail')"/>


<section>

<h2>Associated orders</h2>

<div ng-include="templateUrl('items/order_list')"></div>

</section>


<section>

<h2>Event history</h2>

<table cellspacing="0">

  <thead>
    <tr>
      <th>Event</th>
      <th>Date/time</th>
      <th>User(s)</th>
      <th>Staff responsible</th>
      <th>Order</th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="historyItem in item['event_history']">
      <td>{{ historyItem['event'] }}</td>
      <td>{{ historyItem['datetime'] | date: 'yyyy-MM-dd HH:mm:ss a' }}</td>
      <td>
        <div ng-repeat="user in historyItem['users']">{{ user['last_name'] }}, {{ user['first_name'] }} ({{ user['email'] }})</div>
      </td>
      <td><div ng-if="historyItem['staff_user']">{{ historyItem['staff_user']['last_name'] }}, {{ historyItem['staff_user']['first_name'] }} ({{ historyItem['staff_user']['email'] }})</div></td>
      <td><span class="link" ng-click="showOrder(historyItem['order_id'])" ng-if="historyItem['order_id']">{{ historyItem['order_id'] }} [view]</span></td>
    </tr>
  </tbody>

</table>


</section>

<!--
<div ng-if="debug" class="data-panel">
{{ item | json }}
</div>
 -->
