<div class="record-overview item-overview">

  <div class="overview-element row" ng-if="item['source'] == 'archivesspace'">
    <div class="label small-3 columns">Collection:</div>
    <div class="value small-9 columns">{{ item['resource_title'] }} ({{ item['resource_identifier'] }})</div>
  </div>

  <div class="overview-element row" ng-if="item['source'] == 'catalog'">
    <div class="label small-3 columns">Title:</div>
    <div class="value small-9 columns">{{ item['resource_title'] }}</div>
  </div>

  <div class="overview-element row" ng-if="item['source'] == 'archivesspace'">
    <div class="label small-3 columns">Container:</div>
    <div class="value small-9 columns">{{ item['container'] }}</div>
  </div>

  <div class="overview-element row" ng-if="item['source'] == 'catalog'">
    <div class="label small-3 columns">Call number:</div>
    <div class="value small-9 columns">{{ item['resource_identifier'] }}</div>
  </div>

  <div class="overview-element row" ng-if="item['source'] == 'catalog'">
    <div class="label small-3 columns">Catalog record ID:</div>
    <div class="value small-9 columns">{{ item['item_catalog_record']['catalog_record_id'] }}</div>
  </div>

  <div class="overview-element row" ng-if="item['source'] == 'catalog'">
    <div class="label small-3 columns">Catalog item ID:</div>
    <div class="value small-9 columns">{{ item['item_catalog_record']['catalog_item_id'] }}</div>
  </div>


  <div class="overview-element row">
    <div class="label small-3 columns">Status:</div>
    <div class="value small-9 columns" ng-if="item['current_state'] == 'in_use'">
      Checked out on
      {{ item['active_access_session']['start_datetime'] | date: 'shortDate' }}
      at
      {{ item['active_access_session']['start_datetime'] | date: 'mediumTime' }}
      to<br>
      <span ng-repeat="user in item['active_access_session']['users']">{{ user['email'] }}<br ng-if="!$last"></span>
    </div>
    <div class="value small-9 columns" ng-if="item['current_state'] != 'in_use'">{{ item['current_state'] | removeUnderscores }}</div>
  </div>

  <div class="overview-element row">
    <div class="label small-3 columns">Current location:</div>
    <div class="value small-9 columns">
      <div ng-show="itemLocationChangeEnabled != item['id']">
        <span ng-if="item['current_location']">{{ item['current_location']['title'] }}</span>
        <span ng-if="!item['current_location']">[ in transit ]</span>
        <span class="link" ng-click="enableItemLocationChange(item)">Change location</span>
      </div>
      <div ng-show="itemLocationChangeEnabled == item['id']" ng-include="templateUrl('items/location_selector')"/>
    </div>

  </div>

</div>
