<div class="record-overview item-overview">

  <div class="heading">

    <span ng-if="item['resource_identifier']">{{ item['resource_identifier'] }} – </span>
      {{ item['resource_title'] }}

    <div ng-if="item['container']" class="subheading">
      {{ item['container'] }}
    </div>

  </div>


  <div ng-show="item['digital_object']">
    <div class="inline overview-element">
      <span class="label">Digital Object:</span>
      <span class="value">
        <span
            ng-click="ctrl.openArchivesSpaceRecord(item['uri'])"
            class="link"
            poptip="{{ item['uri'] }}">{{ item['digital_object_title'] }}</span>
        </span>
    </div>
  </div>


  <div ng-show="!item['digital_object']">
    <div class="inline overview-element nowrap" ng-if="item['barcode']">
      <span class="label">Barcode:</span>
      <span class="value">{{ item['barcode'] }}</span>
    </div>
  </div>


  <div ng-if="item['source'] == 'catalog'">
    <div class="inline overview-element nowrap">
      <span class="label">Call number:</span>
      <span class="value">{{ item['resource_identifier'] }}</span>
    </div>

    <div class="inline overview-element nowrap">
      <span class="label">Catalog record ID:</span>
      <span class="value">{{ item['item_catalog_record']['catalog_record_id'] }}</span>
    </div>

    <div class="inline overview-element nowrap">
      <span class="label">Catalog item ID:</span>
      <span class="value">{{ item['item_catalog_record']['catalog_item_id'] }}</span>
    </div>
  </div>


  <div ng-show="!item['digital_object'] && item['current_location']">
    <div class="inline overview-element">
      <span class="label">Current location:</span>
      <span class="value" ng-show="ctrl.itemLocationChangeEnabled != item['id']">
        <span ng-if="item['current_location']">{{ item['current_location']['title'] }}</span>
        <span ng-if="!item['current_location']">[ in transit ]</span>
        <span
            ng-if="(ctrl.section == 'orders') && (item['current_state'] != 'at_permanent_location') && (ctrl.itemLocationChangeEnabled != item['id'])"
            class="link nowrap inline-action"
            ng-click="ctrl.enableItemLocationChange(item)">Change location</span>
      </span>
      <div
          ng-show="ctrl.itemLocationChangeEnabled == item['id']"
          ng-include="ctrl.templateUrl('items/location_selector')">
      </div>
    </div>
  </div>


  <div ng-show="!item['digital_object']">
    <div class="inline overview-element">
      <span class="label">Permanent location:</span>
      <span class="value">{{ item['permanent_location']['title'] }}</span>
    </div>
  </div>








  <div ng-if="item['obsolete']">
    <div class="inline overview-element obsolete-label">This item is obsolete</div>
  </div>

</div>
