<section class="record-detail item-detail">


  <div class="superheading">
    <span class="label">ID:</span>
    <span class="value">{{ ctrl.item['id'] }}</span>
  </div>


  <div class="heading">

    <div ng-if="ctrl.item['source'] == 'archivesspace'">
      <span ng-if="ctrl.item['resource_identifier']">{{ ctrl.item['resource_identifier'] }} - </span>
      {{ ctrl.item['resource_title'] }}
    </div>

    <div ng-if="ctrl.item['source'] == 'catalog'">
      {{ ctrl.item['resource_title'] }}
    </div>

    <div ng-if="ctrl.item['container']" class="subheading">
      {{ ctrl.item['container'] }}
    </div>

  </div>


  <div ng-if="ctrl.item['digital_object']" class="detail-element">
    <span class="label">Digital Object:</span>
    <span class="value">
      <span
          ng-click="ctrl.openArchivesSpaceRecord(item['uri'])"
          class="link"
          poptip="{{ ctrl.item['uri'] }}">{{ ctrl.item['digital_object_title'] }}</span>
    </span>
  </div>


  <div class="detail-element nowrap" ng-if="ctrl.item['barcode']">
    <span class="label">Barcode:</span>
    <span class="value">{{ ctrl.item['barcode'] }}</span>
  </div>




  <div ng-if="ctrl.item['source'] == 'catalog'">
    <div class="detail-element">
      <span class="label">Call number:</span>
      <span class="value">{{ ctrl.item['resource_identifier'] }}</span>
    </div>

    <div class="detail-element">
      <span class="label">Catalog record ID:</span>
      <span class="value">{{ ctrl.item['item_catalog_record']['catalog_record_id'] }}</span>
    </div>

    <div class="detail-element">
      <span class="label">Catalog item ID:</span>
      <span class="value">{{ ctrl.item['item_catalog_record']['catalog_item_id'] }}</span>
    </div>
  </div>


  <div ng-if="!ctrl.item['digital_object'] && ctrl.item['permanent_location']">
    <div class="detail-element">
      <span class="label">Permanent location:</span>
      <span class="value">{{ ctrl.item['permanent_location']['title'] }}</span>
    </div>
  </div>


  <div ng-if="!ctrl.item['digital_object'] && ctrl.item['current_location']">
    <div class="detail-element">
      <span class="label">Current location:</span>
      <span class="value">{{ ctrl.item['current_location']['title'] }}</span>
      <span
          ng-show="(ctrl.item['current_state'] != 'at_permanent_location') && ctrl.itemLocationChangeEnabled != ctrl.item['id']"
          class="link"
          ng-click="ctrl.enableItemLocationChange(ctrl.item)">Change location</span>
      <div
          ng-show="ctrl.itemLocationChangeEnabled == ctrl.item['id']"
          ng-include="ctrl.templateUrl('items/location_selector')"/>
    </div>
  </div>


  <div>
    <div class="detail-element" ng-if="!ctrl.item['obsolete']">
      <span class="label">Status:</span>
      <span class="value">{{ ctrl.item['current_state'] | removeUnderscores }}</span>
    </div>
  </div>


</section>
