<div class="list-sort">

  <span class="label">Sort:</span>

  <span
      class="sort-option link"
      ng-show="ctrl.sortField != 'resource_title'"
      ng-click="ctrl.sortList('resource_title')">Collection/resource title</span>

  <span
      class="sort-option selected"
      ng-show="ctrl.sortField == 'resource_title'">Collection/resource title
      <span ng-include="ctrl.templateUrl('common/sort_order_toggle_alpha')"></span></span>

  <span
      class="sort-option link"
      ng-show="ctrl.sortField != 'last_accessed'"
      ng-click="ctrl.sortList('last_accessed')">Date last used</span>

  <span
      class="sort-option selected"
      ng-show="ctrl.sortField == 'last_accessed'">Date last used
      <span ng-include="ctrl.templateUrl('common/sort_order_toggle_numeric')"></span></span>

</div>
