<div ng-controller="ItemsListCtrl as ctrl">

  <div ng-include="ctrl.templateUrl('common/app_header')"></div>

  <main>

    <h1>Items</h1>

    <div ng-include="ctrl.templateUrl('common/search_form')"></div>

    <div ng-include="ctrl.templateUrl('items/list_sort')"></div>

    <div ng-if="ctrl.loading" ng-include="ctrl.templateUrl('common/processing')"/>

    <div ng-if="!ctrl.loading">

      <div ng-include="ctrl.templateUrl('common/pagination')"></div>

      <div ng-include="ctrl.templateUrl('items/list_filters')"></div>

      <div class="empty-list-label" ng-if="ctrl.items.length == 0">
      No items found
      </div>

      <ul class="records-list items-list">
        <li ng-repeat="item in ctrl.items" data-item-id="{{ item['id'] }}">

          <span class="list-item-link" ng-click="ctrl.showItem(item['id'])"></span>

          <div ng-include="ctrl.templateUrl('items/item_overview')"></div>

        </li>
      </ul>

      <div ng-include="ctrl.templateUrl('common/pagination')"></div>

    </div>


    <div ng-if="debug" class="data-panel">
      <div ng-repeat="item in ctrl.items">
        {{ item | json }}<br>
      </div>
    </div>

  </main>

</div>
