<div class="selector item-location-selector">

  <div class="loading" ng-show="itemLocationChange['loading']">
    <div class="message">Updating location...</div>
  </div>


  <div class="row collapse" ng-hide="itemLocationChange['loading']">
    <div class="small-10 columns">
      <select ng-model="itemLocationChange['locationId']" convert-to-number>
        <option ng-repeat="location in circaLocations" value="{{ location['id'] }}">{{ location['title'] }}</option>
      </select>
    </div>
    <div class="small-2 columns">
      <span class="button postfix" ng-click="changeItemLocation()">Change</span>
    </div>
  </div>


  <div class="alert" ng-show="itemLocationChange['alert']">{{ itemLocationChange['alert'] }}</div>


</div>
