<div class="selector item-location-selector">

  <div
      class="loading"
      ng-show="ctrl.itemLocationChange['loading']">
    <div class="message">Updating location...</div>
  </div>


  <div
      class="row collapse"
      ng-hide="ctrl.itemLocationChange['loading']">

    <div class="small-10 columns">
      <select
          ng-model="ctrl.itemLocationChange['locationId']"
          convert-to-number>
        <option
            ng-repeat="location in ctrl.circaLocations"
            value="{{ location['id'] }}">{{ location['title'] }}</option>
      </select>
    </div>

    <div class="small-2 columns">
      <span
          class="button postfix"
          ng-click="ctrl.changeItemLocation()">Change</span>
    </div>
  </div>


  <div class="alert" ng-show="ctrl.itemLocationChange['alert']">{{ ctrl.itemLocationChange['alert'] }}</div>


</div>
