<div ng-if="item['has_modification_history']">

  <section ng-if="!item['modification_history']">
    <span
        class="link"
        ng-if="!item['modification_history']"
        ng-click="getItemModificationHistory(item['id'])">Get version history</span>
  </section>


  <section ng-if="item['modification_history']">

    <h2>Version history</h2>

    <ul class="sub-records-list items-list">
      <li
          ng-repeat="version in item['modification_history']">

          <div ng-include="templateUrl('items/version_overview')"/>

      </li>
    </ul>


  </section>

</div>

<div ng-if="!item['has_modification_history']">
This item has no previous versions
</div>
