<div ng-if="ctrl.item['has_modification_history']">

  <section ng-if="!ctrl.item['modification_history']">
    <span
        class="link"
        ng-if="!ctrl.item['modification_history']"
        ng-click="ctrl.getItemModificationHistory(ctrl.item['id'])">
      <i class="fas fa-cloud-download-alt"></i>Get modification history</span>
  </section>

  <section ng-if="ctrl.item['modification_history']">
    <h2>Modification history</h2>

    <ul class="versions-list">
      <li
          ng-repeat="version in ctrl.item['modification_history']"
          ng-class="$last ? 'last' : ''">
        <div ng-include="ctrl.templateUrl('items/version_overview')"/>
      </li>
    </ul>
  </section>

</div>

<div ng-if="!ctrl.item['has_modification_history']">
This item has no previous versions
</div>
