<section ng-if="!item['movement_history']">
  <span
      class="link"
      ng-if="!item['movement_history']"
      ng-click="getItemMovementHistory(item['id'])">Get movement history</span>
</section>


<section ng-if="item['movement_history']">

  <h2>Movement history</h2>

  <table cellspacing="0">

    <thead>
      <tr>
        <th>Action</th>
        <th>Location</th>
        <th>Date/time</th>
        <th>Staff responsible</th>
        <th>Order ID</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="historyItem in item['movement_history'] | orderBy : historyItem['datetime'] : true">
        <td>{{ historyItem['action'] }}</td>
        <td>{{ historyItem['location']['title'] }}</td>
        <td>{{ historyItem['datetime'] | date: 'yyyy-MM-dd HH:mm:ss a' }}</td>
        <td><div ng-if="historyItem['user']">{{ historyItem['user']['last_name'] }}, {{ historyItem['user']['first_name'] }} ({{ historyItem['user']['email'] }})</div></td>
        <td><span class="link" ng-click="showOrder(historyItem['order_id'])" ng-if="historyItem['order_id']">{{ historyItem['order_id'] }} [view]</span></td>
      </tr>
    </tbody>

  </table>

</section>
