<div class='modal' ng-show='ctrl.showItemObsoleteModal'>

  <div class='modal-overlay' ng-click='ctrl.closeItemObsoleteModal()'></div>

  <div class='modal-dialog' ng-style='dialogStyle'>

    <div class="modal-dialog-content">

      <div ng-if="ctrl.flash" class="flash">{{ flash }}</div>

      <h1>Is this item obsolete?</h1>

      <p>An item can be marked as obsolete if the ArchivesSpace container associated with it no longer exists. Clicking 'Continue' below will check the URI(s) used to add this item to Orders. In each case:</p>

      <ul class="bulleted">
      <li>If the container information (eg box number) retrieved from ArchivesSpace is different from that of the Circa Item,
      a new Item will be created (or retrieved if an Item exists corresponding to the new container) and is associated with the Order,
      and this Item will be eligible to be marked as obsolete.</li>

      <li>If no data is returned from ArchivesSpace via the original URI (presumably because the ArchivesSpace record no longer exists) this Item will be eligible to be marked as obsolete.</li>

      <li>If the container information retrieved from ArchivesSpace is the same as that of this Item,
      no change will be made to the Order and the Item will NOT be eligible to be marked as obsolete.</li>
      </ul>

      <button ng-click="ctrl.obsoleteItem(ctrl.item.id)">Continue</button>

      <button ng-click="ctrl.closeItemObsoleteModal()">Cancel</button>

    </div>

  </div>

</div>
