<main>

<h2>Change the active order for item:
  <div class="subhead">
    <span ng-if="item['resource_identifier']">{{ item['resource_identifier'] }} - </span>{{ item['resource_title'] }}
    <span ng-if="item.container">({{ item.container }})</span>
  </div>
</h2>

<p>This item is included on multiple orders, but currently <strong>Order #{{ item.active_order_id }}</strong> is active. Changes to the item's status will only affect the status of the active order (when applicable).</p>

<p>Assigning a new active order for this item will enable the current active order to be completed without having to return the item to its permanent location.</p>

<h3>Select active order:</h3>


<div ng-repeat="order in item.open_orders" class="row selector-row">

  <div class="small-2 columns">
    <input type="radio" name="selected-order-id" ng-model="item.selectedOrderId" ng-value="order.id" ngChange="changeSelectedOrderId(order.id)" id="selected-order-id-{{ order.id }}">
  </div>

  <div class="small-10 columns">
    <div class="record-overview order-overview">
      <div class="heading">Order #{{ order.id }}<span ng-if="order.id == item.active_order_id"> (active)</span></div>
      <div ng-if="order['users']">
        <div class="inline overview-element">
          <span class="label" ng-if="order['users'].length > 1">Researchers:</span>
          <span class="label" ng-if="order['users'].length <= 1">Researcher:</span>
          <span class="value" ng-if="order['users'].length > 0">
            <span ng-repeat="user in order['users']"><span class="link" ng-click="showUser(user['id'])">{{ user['last_name'] }}, {{ user['first_name'] }} ({{ user['email'] }})</span><span ng-if="!$last">; </span></span>
          </span>
        </div>
      </div>

      <div>

        <div class="inline overview-element">
          <span class="label">{{ order['access_date_end'] ? 'Access dates:' : 'Access date:' }}</span>
          <span class="value">{{ order['access_date_start'] | date: 'yyyy-MM-dd' }}</span>
          <span ng-show="order['access_date_end']">
            <span class="date-delimeter">to</span>
            <span class="value">{{ order['access_date_end'] | date: 'yyyy-MM-dd' }}</span>
          </span>
        </div>

        <div class="inline overview-element">
          <span class="label">Use location:</span>
          <span class="value">{{ order['temporary_location']['title'] }}</span>
        </div>

      </div>

    </div>
  </div>

</div>


<button ng-click="ok()">Change active order</button>

<button ng-click="dismiss()">Cancel</button>


</main>

<!--
<div ng-if="debug" class="data-panel">
  {{ item | json }}
</div>
 -->
