<div class="record-overview item-overview">

  <div ng-if="$index == 0">
    <div class="inline overview-element">
      <span class="label">Current version</span>
    </div>
  </div>


  <div>
    <div class="inline overview-element">
      <span class="label">Last updated:</span>
      <span class="value">{{ version['updated_at'] }}
    </div>

    <div class="inline overview-element">
      <span class="label">Last updated by:</span>
      <span class="value">{{ version['user']['display_name'] }}
    </div>
  </div>


  <div>
    <div class="inline overview-element">
      <span ng-if="version['resource_identifier']">{{ version['resource_identifier'] }} – </span>
      {{ version['resource_title'] }}
    </div>
  </div>


  <div ng-show="version['digital_object']">

    <div class="inline overview-element">
      <span class="label">Digital Object:</span>
      <span class="value">
        <span
            ng-click="openArchivesSpaceRecord(version['uri'])"
            class="link"
            poptip="{{ version['uri'] }}">{{ version['digital_object_title'] }}</span>
        </span>
    </div>

  </div>



  <div ng-show="!version['digital_object']">

    <div class="inline overview-element nowrap" ng-if="version['source'] == 'archivesspace'">
      <span class="label">Container:</span>
      <span class="value">{{ version['container'] }}</span>
    </div>

    <div class="inline overview-element nowrap" ng-if="version['barcode']">
      <span class="label">Barcode:</span>
      <span class="value">{{ version['barcode'] }}</span>
    </div>

  </div>



  <div ng-if="version['source'] == 'catalog'">

    <div class="inline overview-element nowrap">
      <span class="label">Call number:</span>
      <span class="value">{{ version['resource_identifier'] }}</span>
    </div>

    <div class="inline overview-element nowrap">
      <span class="label">Catalog record ID:</span>
      <span class="value">{{ version['item_catalog_record']['catalog_record_id'] }}</span>
    </div>

    <div class="inline overview-element nowrap">
      <span class="label">Catalog item ID:</span>
      <span class="value">{{ version['item_catalog_record']['catalog_item_id'] }}</span>
    </div>

  </div>


</div>
