<div ng-controller="UserRolesEditCtrl as ctrl">

  <div ng-include="ctrl.templateUrl('common/app_header')"></div>

  <main>

    <div
        ng-show="ctrl.loading"
        ng-include="ctrl.templateUrl('common/processing')">
    </div>

    <h1>Edit user role</h1>

    <div ng-hide="ctrl.loading">

      <div ng-include="ctrl.templateUrl('user_roles/form_fields')">
      </div>

      <button
          class="button"
          ng-click="ctrl.updateUserRole()">
        Update
      </button>

      <button
          class="button"
          ng-click="ctrl.goto('/settings/user_roles/list')">
        Cancel
      </button>

    </div>

    <div ng-if="ctrl.debug" class="data-panel">
      {{ ctrl.userRole | json }}
    </div>

  </main>

</div>
