<div ng-controller="UserRolesMergeCtrl as ctrl">

  <div ng-include="ctrl.templateUrl('common/app_header')"></div>

  <main>

    <div
        ng-show="ctrl.loading"
        ng-include="ctrl.templateUrl('common/processing')">
    </div>

    <div ng-hide="ctrl.loading">

      <h1>Merge user roles</h1>

      <p>After the merge, all users assigned to the "merge from" role will
        be re-assigned to the "merge into" role.</p>

      <p>The original "merge from" role will remain in the system but will
        become eligible for deletion.</p>

      <p>NOTE: The admin role is not eligible for merging.</p>

      <p class="warning">Use caution when using this feature - changes cannot
        be undone once the merge is complete.</p>

      <div class="form-field">
        <label>Merge from user role:</label>
        {{ ctrl.userRole.name }}
        ({{ ctrl.userRole.users_count }} users)
      </div>

      <div class="form-field">
        <label>Merge into user role:</label>
        <select ng-model="ctrl.mergeIntoId">
          <option
              ng-repeat="role in ctrl.mergeIntoUserRoles"
              value="{{ role.id }}">
            {{ role.name }} ({{ role.users_count }} records)
          </option>
        </select>
      </div>

      <button
          class="button"
          ng-click="ctrl.mergeUserRoles()">
        Merge roles
      </button>

      <button
          class="button"
          ng-click="ctrl.goto('/settings/user_roles/list')">
        Cancel
      </button>
    </div>


    <div ng-if="ctrl.debug" class="data-panel">
      <div>{{ ctrl.mergeIntoId | json }}</div>
    </div>

  </main>

</div>
