<div>

  <h2>Open course reserves</h2>

  <div ng-show="ctrl.dashbaordLoading" ng-include="ctrl.templateUrl('common/processing')"/>

  <div ng-show="!ctrl.dashbaordLoading">


    <!-- no results -->
    <div ng-show="ctrl.course_reserves.length == 0" class="text-block">
      <strong>There are no active course reserves.</strong>
    </div>
    <!-- END no results -->


    <!-- results -->
    <div ng-if="ctrl.course_reserves.length > 0">
      <table>

        <thead>
          <tr>
            <th>ID</th>
            <th>Course</th>
            <th>Start</th>
            <th>End</th>
            <th># researchers</th>
            <th># items</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="order in ctrl.course_reserves" ng-click="ctrl.showOrder(order.id)">
            <td>{{ order.id }}</td>
            <td>{{ order.course_number }} - {{ order.course_name }}</td>
            <td>{{ order.access_date_start }}</td>
            <td>{{ order.access_date_end }}</td>
            <td>{{ order.users.length }}</td>
            <td>{{ order.num_items }}</td>
          </tr>
        </tbody>

      </table>
    </div>
    <!-- END results -->


  </div>

</div>
