<div>

  <h2>Digital object requests</h2>


  <div ng-show="dashboard.dashbaordLoading" ng-include="templateUrl('common/processing')"/>


  <div ng-show="!dashboard.dashbaordLoading">

    <!-- no results -->
    <div ng-show="dashboard.digitalObjectRequests['total_orders'] == 0">
      <strong>There are no pending requests for digital materials, or all have been fulfilled.</strong>
    </div>
    <!-- END no results -->


    <!-- results -->
    <div ng-show="dashboard.digitalObjectRequests['total_orders'] > 0">

      <div ng-repeat="(orderId, order) in dashboard.digitalObjectRequests['orders']" class="pending-transfers-order">

        <h3><span class="link" ng-click="dashboard.showOrder(orderId)">Order #{{ orderId }}</span></h3>

        <ul class="records-list items-list">

          <li ng-repeat="item_orders in order['item_orders']" ng-init="item = item_order['item']" data-item-id="{{ orderId }}">

            <div class="row">

              <div class="small-10 columns">
                <div ng-include="dashboard.templateUrl('items/item_overview')"></div>
              </div>

              <div class="small-2 columns">
                <div class="record-actions order-actions">
                  <div class="action"><span class="link" ng-click="dashboard.showItem(item['id'])">View item details</span></div>
                </div>
              </div>

            </div>

          </li>

        </ul>

      </div>

    </div>
    <!-- END results -->

  </div>

</div>
