<div ng-controller="ItemsInTransitForUseCtrl as inTransitForUse">

  <h2>Items in transit for use</h2>

  <div ng-show="inTransitForUse.loading" ng-include="inTransitForUse.templateUrl('common/processing')"/>

  <div ng-show="!inTransitForUse.loading">

    <div ng-if="!inTransitForUse.filters['location'] && inTransitForUse.itemsInTransitForUse['locations']" class="location-filter">
    Filter by use location: <span ng-repeat="location in inTransitForUse.itemsInTransitForUse['locations']" class="location-filter-option" ng-class="$last ? 'last' : ''"><span ng-click="inTransitForUse.filterByLocation(location)" class="link nowrap">{{ location }}</span></span>
    </div>

    <div ng-if="inTransitForUse.filters['location']" class="location-filter-info">
    Showing only items for {{ inTransitForUse.filters['location'] }} <span ng-click="inTransitForUse.getItemsInTransitForUse()" class="link">Show all</span>
    </div>


    <div ng-show="inTransitForUse.itemsInTransitForUse['total_orders'] > 0">

      <div class="print-list">
        <span poptip="Generate printable list" class="print-link"><span class="link" ng-click="inTransitForUse.openList()"><i class="fa fa-print"></i>Print list</span></span>
      </div>

      <div ng-repeat="(orderId, order) in inTransitForUse.itemsInTransitForUse['orders']" class="pending-transfers-order">

        <h3><span class="link" ng-click="inTransitForUse.showOrder(orderId)">Order #{{ orderId }}</span></h3>

        <ul class="records-list items-list">

          <li ng-repeat="item in order['items']" data-item-id="{{ orderId }}">
            <div class="row">

              <div class="small-10 columns">
                <div ng-include="inTransitForUse.templateUrl('items/item_location_overview')"></div>
              </div>

              <div class="small-2 columns">
                <div class="record-actions order-actions">
                  <div class="action"><span class="link" ng-click="inTransitForUse.showItem(item['id'])">View item details</span></div>
                </div>
              </div>

            </div>
          </li>

        </ul>

      </div>

    </div>

  </div>


  <div ng-if="debug" class="data-panel">
  {{ inTransitForUse.itemsInTransitForUse | json }}
  </div>


</div>
