<div class="pending-transfers">

  <h2>Pending transfers</h2>

  <div ng-show="dashboard.dashbaordLoading" ng-include="templateUrl('common/processing')"/>

  <div ng-show="!dashboard.dashbaordLoading">

    <div ng-if="!dashboard.filters['permanent_location_facility'] && dashboard.pendingItemTransfers['facilities']" class="facility-filter">
    Filter by facility: <span ng-repeat="facility in dashboard.pendingItemTransfers['facilities']" class="facility-filter-option" ng-class="$last ? 'last' : ''"><span ng-click="dashboard.filterPendingTransfersByFacility(facility)" class="link">{{ facility }}</span></span>
    </div>

    <div ng-if="dashboard.filters['permanent_location_facility']" class="facility-filter-info">
    Showing only items from {{ dashboard.filters['permanent_location_facility'] }} <span ng-click="dashboard.getPendingItemTransfers()" class="link">Show all</span>
    </div>


    <div ng-show="dashboard.pendingItemTransfers['total_orders'] > 0">

      <div class="print-list">
        <span poptip="Generate printable 'pull list'" class="print-link print-pull-list"><span class="link" ng-click="dashboard.openPullList()"><i class="fa fa-print"></i>Print pull list</span></span>
      </div>

      <div ng-repeat="(orderId, order) in dashboard.pendingItemTransfers['orders']" class="pending-transfers-order">

        <h3><span class="link" ng-click="dashboard.showOrder(orderId)">Order #{{ orderId }}</span>
          <span poptip="Generate printable 'call slip'" class="print-link print-call-slip"><a ng-href="{{ dashboard.rootPath() }}/orders/{{ orderId }}/call_slip" target="_blank"><i class="fa fa-print"></i>Print call slip</a></span>
        </h3>

        <ul class="records-list items-list">
          <li ng-repeat="itemOrder in order['item_orders']" ng-init="item = itemOrder['item']" data-item-id="{{ orderId }}">
            <div class="row">

              <div class="small-10 columns">
                <div ng-include="dashboard.templateUrl('items/item_location_overview')"></div>
              </div>

              <div class="small-2 columns">
                <div class="record-actions order-actions">
                  <div class="action"><span class="link" ng-click="dashboard.showItem(item['id'])">View item details</span></div>
                </div>
              </div>

            </div>
          </li>
        </ul>

      </div>

    </div>

  </div>


  <div ng-if="debug" class="data-panel">
  {{ dashboard.pendingItemTransfers | json }}
  </div>

</div>
