<div class="pending-transfers">

  <h2>Pending transfers</h2>

  <div ng-show="ctrl.dashbaordLoading" ng-include="ctrl.templateUrl('common/processing')"/>

  <div ng-show="!ctrl.dashbaordLoading">

    <!-- filters -->
    <div ng-if="!ctrl.filters['permanent_location_facility'] && ctrl.pendingItemTransfers['facilities'].length > 0" class="facility-filter">
    Filter by facility: <span ng-repeat="facility in ctrl.pendingItemTransfers['facilities']" class="facility-filter-option" ng-class="$last ? 'last' : ''"><span ng-click="ctrl.filterPendingTransfersByFacility(facility)" class="link">{{ facility }}</span></span>
    </div>

    <div ng-if="ctrl.filters['permanent_location_facility']" class="facility-filter-info text-block">
    Showing only items from {{ ctrl.filters['permanent_location_facility'] }} <span ng-click="ctrl.getPendingItemTransfers()" class="link">Show all</span>
    </div>
    <!-- END filters -->


    <!-- no results -->
    <div ng-show="ctrl.pendingItemTransfers['total_orders'] == 0" class="text-block">
      <strong>There are no pending transfers, or none matching filters.</strong>
    </div>
    <!-- END no results -->


    <!-- results -->
    <div ng-show="ctrl.pendingItemTransfers['total_orders'] > 0">

      <div class="print-list">
        <span poptip="Generate printable 'pull list'" class="print-link print-pull-list"><span class="link" ng-click="ctrl.openPullList()"><i class="fa fa-print"></i>Print pull list</span></span>
      </div>

      <div ng-repeat="(orderId, order) in ctrl.pendingItemTransfers['orders']" class="pending-transfers-order">

        <h3><span class="link" ng-click="ctrl.showOrder(orderId)">Order #{{ orderId }}</span>
          <span poptip="Generate printable 'call slip'" class="print-link print-call-slip"><a ng-href="{{ ctrl.rootPath() }}/orders/{{ orderId }}/call_slip" target="_blank"><i class="fa fa-print"></i>Print call slip</a></span>
        </h3>

        <ul class="subrecords-list items-list">
          <li ng-repeat="itemOrder in order['item_orders']" ng-init="item = itemOrder['item']" data-item-id="{{ orderId }}">

            <div ng-include="ctrl.templateUrl('dashboard/item_sub_record')"></div>

          </li>
        </ul>

      </div>

    </div>
    <!-- END results -->

  </div>


  <div ng-if="debug" class="data-panel">
  {{ ctrl.pendingItemTransfers | json }}
  </div>

</div>
