<div>

  <h2>Returns in transit</h2>


  <div ng-show="ctrl.dashbaordLoading" ng-include="templateUrl('common/processing')"/>


  <div ng-show="!ctrl.dashbaordLoading">

    <!-- filters -->
    <div ng-if="!ctrl.filters['permanent_location_facility'] && ctrl.returnsInTransit['facilities'].length > 0" class="facility-filter">
    Filter by facility: <span ng-repeat="facility in ctrl.returnsInTransit['facilities']" class="facility-filter-option" ng-class="$last ? 'last' : ''"><span ng-click="ctrl.filterReturnsInTransitByFacility(facility)" class="link">{{ facility }}</span></span>
    </div>

    <div ng-if="ctrl.filters['permanent_location_facility']" class="facility-filter-info text-block">
    Showing only items from {{ ctrl.filters['permanent_location_facility'] }} <span ng-click="ctrl.getReturnsInTransit()" class="link">Show all</span>
    </div>
    <!-- END filters -->


    <!-- no results -->
    <div ng-show="ctrl.returnsInTransit['total_orders'] == 0" class="text-block">
      <strong>There are no returns in transit, or none matching filters.</strong>
    </div>
    <!-- END no results -->


    <!-- results -->
    <div ng-show="ctrl.returnsInTransit['total_orders'] > 0">

      <div class="print-list">
        <span poptip="Generate printable list" class="print-link"><span class="link" ng-click="ctrl.openReturnsList()"><i class="fa fa-print"></i>Print list</span></span>
      </div>

      <div ng-repeat="(orderId, order) in ctrl.returnsInTransit['orders']" class="pending-transfers-order">

        <h3><span class="link" ng-click="ctrl.showOrder(orderId)">Order #{{ orderId }}</span></h3>

        <ul class="subrecords-list items-list">

          <li ng-repeat="item_order in order['item_orders']" ng-init="item = item_order['item']" data-item-id="{{ orderId }}">

            <div ng-include="ctrl.templateUrl('dashboard/item_sub_record')"></div>

          </li>

        </ul>

      </div>

    </div>
    <!-- END results -->

  </div>


  <div ng-if="debug" class="data-panel">
  {{ ctrl.returnsInTransit | json }}
  </div>


</div>
