<div>

  <h2>Returns in transit</h2>


  <div ng-show="dashboard.dashbaordLoading" ng-include="templateUrl('common/processing')"/>


  <div ng-show="!dashboard.dashbaordLoading">

    <div ng-if="!dashboard.filters['permanent_location_facility'] && dashboard.returnsInTransit['facilities']" class="facility-filter">
    Filter by facility: <span ng-repeat="facility in dashboard.returnsInTransit['facilities']" class="facility-filter-option" ng-class="$last ? 'last' : ''"><span ng-click="dashboard.filterReturnsInTransitByFacility(facility)" class="link">{{ facility }}</span></span>
    </div>

    <div ng-if="dashboard.filters['permanent_location_facility']" class="facility-filter-info">
    Showing only items from {{ dashboard.filters['permanent_location_facility'] }} <span ng-click="dashboard.getReturnsInTransit()" class="link">Show all</span>
    </div>


    <div ng-show="dashboard.returnsInTransit['total_orders'] > 0">

      <div class="print-list">
        <span poptip="Generate printable list" class="print-link"><span class="link" ng-click="dashboard.openReturnsList()"><i class="fa fa-print"></i>Print list</span></span>
      </div>

      <div ng-repeat="(orderId, order) in dashboard.returnsInTransit['orders']" class="pending-transfers-order">

        <h3><span class="link" ng-click="dashboard.showOrder(orderId)">Order #{{ orderId }}</span></h3>

        <ul class="records-list items-list">

          <li ng-repeat="item in order['items']" data-item-id="{{ orderId }}">
            <div class="row">

              <div class="small-10 columns">
                <div ng-include="dashboard.templateUrl('items/item_location_overview')"></div>
              </div>

              <div class="small-2 columns">
                <div class="record-actions order-actions">
                  <div class="action"><span class="link" ng-click="dashboard.showItem(item['id'])">View item details</span></div>
                </div>
              </div>

            </div>
          </li>

        </ul>

      </div>

    </div>

  </div>


  <div ng-if="debug" class="data-panel">
  {{ dashboard.returnsInTransit | json }}
  </div>


</div>
