<div class="selector user-selector assignee-selector">

  <div class="heading">Assign to staff</div>

  <div class="instruction">Begin typing the name or email of an existing user, then select from the list that will appear below.</div>

  <div class="loading" ng-show="assigneeSelect['loading']">
    <div class="message">Fetching data...</div>
  </div>

  <div class="row collapse" ng-hide="assigneeSelect['loading']">

    <div class="small-12 columns">
      <!-- <input type="text" ng-model="userSelect['email']" placeholder="Enter user email"/> -->
      <angucomplete-alt
        id="assigneeSelectEmail"
        placeholder="Enter the assignee's name or email"
        pause="200"
        minlength="1"
        selected-object="addAssignee"
        remote-url="{{ rootPath() }}/user_typeahead"
        remote-url-request-formatter="angucompleteRequestFormatter"
        remote-url-data-field="users"
        title-field="display_name"
        description-field="email">
    </div>

<!--
    <div class="small-2 columns">
      <span class="button postfix" clear-user-select="assignee" ng-click="addAssignee()">Add</span>
    </div>
 -->

  </div>


  <div class="alert" ng-show="assigneeSelect['alert']">{{ assigneeSelect['alert'] }}</div>


</div>
