<div ng-if="order['assignees'].length == 0" class="empty-list-label">None selected</div>


<ul class="sub-records-list assignees-list" ng-if="order['assignees'].length > 0">

  <li ng-repeat="user in order['assignees']">

    <div class="row">

      <div class="small-9 columns">
        <div class="overview-element primary">
          {{ user['last_name'] }}, {{ user['first_name'] }} ({{ user['email'] }})
        </div>
      </div>

      <div class="small-3 columns">
        <div class="sub-record-actions user-actions">
          <div class="link action" ng-click="removeAssignee(user)">Remove</div>
        </div>
      </div>

    </div>

  </li>

</ul>


<div ng-if="removedAssignees.length > 0">

  <div class="heading">Removed assignees</div>

  <ul class="sub-records-list users-list removed">

    <li ng-repeat="user in removedAssignees">

      <div class="row">

        <div class="small-9 columns">
          <div class="overview-element primary">
            {{ user['last_name'] }}, {{ user['first_name'] }} ({{ user['email'] }})
          </div>
        </div>

        <div class="small-3 columns">
          <div class="sub-record-actions item-actions">
            <span class="link table-action" ng-click="restoreAssignee(user)">Restore</span>
          </div>
        </div>

      </div>

    </li>

  </ul>

</div>



<!-- <table class="user-list" ng-if="(order['users'].length > 0) || (removedUsers.length > 0)">

  <thead>
    <tr>
      <th>ID</th>
      <th>Last name</th>
      <th>First name</th>
      <th>email</th>
      <th>primary</th>
      <th></th>
    </tr>
  </thead>

  <tbody>

    <tr ng-repeat="user in order['users']" class="user-list-row">
      <td class="item-id">
        {{ user['id'] }}
      </td>
      <td>{{ user['last_name'] }}</td>
      <td>{{ user['first_name'] }}</td>
      <td>{{ user['email'] }}</td>
      <td>
        <span ng-if="order['primary_user_id'] == user['id']" class="table-action"><i class="fa fa-check"></i></span>
        <span ng-if="order['primary_user_id'] != user['id']" class="link table-action" ng-click="setPrimaryUserId(user['id'])">Make primary</span>
      </td>
      <td class="actions">
        <span class="link table-action" ng-click="removeUser(user)">Remove</span>
      </td>
    </tr>



    <tr ng-show="removedUsers.length > 0">
      <th class="sub-heading" colspan="6">Removed:</th>
    </tr>


    <tr ng-repeat="user in removedUsers" class="user-list-row removed">
      <td class="item-id">
        {{ user['id'] }}
      </td>
      <td>{{ user['last_name'] }}</td>
      <td>{{ user['first_name'] }}</td>
      <td>{{ user['email'] }}</td>
      <td></td>
      <td class="actions">
        <span class="link table-action" ng-click="restoreUser(user)">Restore</span>
      </td>
    </tr>

  </tbody>

</table> -->
