<div
    ng-if="ctrl.hasValidationErrors == true"
    class="validation-error form-validation-error">
Please fix the problems noted below.
</div>


<!-- order type/sub-type -->
<section>
  <div ng-include="ctrl.templateUrl('orders/fields/order_type_sub_type')"></div>
</section>



<div ng-show="ctrl.order['order_type']">

  <!-- course info - for course reserves only -->
  <section
      ng-show="ctrl.order['order_sub_type'] && ctrl.order['order_sub_type']['name'] == 'course_reserve'">
    <div ng-include="ctrl.templateUrl('orders/fields/course_info')"></div>
  </section>


  <!-- dates -->
  <section>
    <div ng-include="ctrl.templateUrl('orders/fields/dates')"></div>
  </section>


  <!-- location -->
  <section>
    <div ng-include="ctrl.templateUrl('orders/fields/location')"></div>
  </section>


  <!-- users -->
  <section>
    <div ng-include="ctrl.templateUrl('orders/fields/users')"></div>
  </section>


  <!-- items -->
  <div
    ng-include="ctrl.templateUrl('orders/fields/items')"
    ng-show="ctrl.order['order_type']['name'] != 'reproduction'">
  </div>

  <div
    ng-include="ctrl.templateUrl('orders/fields/reproduction_items')"
    ng-show="ctrl.order['order_type']['name'] == 'reproduction'">
  </div>


  <!-- order fee -->
  <section ng-show="ctrl.order['order_sub_type']['name'] == 'reproduction_fee'">
    <div ng-include="ctrl.templateUrl('orders/fields/order_reproduction_fee')">
    </div>
  </section>


  <!-- assignees -->
  <section>
    <div ng-include="ctrl.templateUrl('orders/fields/assignees')"></div>
  </section>


  <!-- notes -->
  <section>
    <div ng-include="ctrl.templateUrl('orders/fields/notes')"></div>
  </section>



</div>
