<div ng-if="hasValidationErrors == true" class="validation-error form-validation-error">
Please fix the problems noted below.
</div>


<!-- order type/sub-type -->
<div ng-include="templateUrl('orders/fields/order_type_sub_type')"></div>


<div ng-show="order['order_type'] && order['order_sub_type']">

  <!-- course info - for course reserves only -->
  <div ng-include="templateUrl('orders/fields/course_info')" ng-show="order['order_sub_type']['name'] == 'course_reserve'"></div>


  <!-- users -->
  <div ng-include="templateUrl('orders/fields/research_users')" ng-show="order['order_type']['name'] == 'research'"></div>
  <div ng-include="templateUrl('orders/fields/reproduction_user')" ng-show="order['order_type']['name'] == 'reproduction'"></div>

  <!-- items -->
  <div ng-include="templateUrl('orders/fields/items')" ng-show="order['order_type']['name'] != 'reproduction'"></div>

  <div ng-include="templateUrl('orders/fields/reproduction_items')" ng-show="order['order_type']['name'] == 'reproduction'"></div>


  <!-- dates -->
  <div ng-include="templateUrl('orders/fields/dates')"></div>


  <!-- location -->
  <div ng-include="templateUrl('orders/fields/location')"></div>


  <!-- assignees -->
  <div ng-include="templateUrl('orders/fields/assignees')"></div>


  <!-- notes -->
  <div ng-include="templateUrl('orders/fields/notes')"></div>

</div>
