<div class="filters">

  <div class="filter-toggle">
    <span ng-hide="filterConfig.show" ng-click="toggleShowFilters()" class="link show-filters">Show filters</span>
    <span ng-show="filterConfig.show" ng-click="toggleShowFilters()" class="link hide-filters">Hide filters</span>
  </div>

  <div ng-show="filterConfig.show" class="filter-select">


    <div class="row filter-field">
      <div class="small-3 medium-2 columns">
        <label>Limit to open/closed</label>
      </div>
      <div class="small-9 medium-10 columns">
        <select ng-model="filterConfig.filters['open']">
          <option value="1">open</option>
          <option value="0">closed</option>
        </select>
      </div>
    </div>


    <div class="row filter-field">
      <div class="small-3 medium-2 columns">
        <label>Order type</label>
      </div>
      <div class="small-9 medium-10 columns">
        <select ng-model="filterConfig.filters['order_type_id']" ng-change="resetOrderSubTypeFilter()">
          <option ng-repeat="orderType in controlledValues['order_type']" value="{{ orderType.id }}">{{ orderType.label }}</option>
        </select>
      </div>
    </div>


    <div class="row filter-field" ng-if="filterConfig.filters['order_type_id']">
      <div class="small-3 medium-2 columns">
        <label>Order sub-type</label>
      </div>
      <div class="small-9 medium-10 columns">
        <span ng-repeat="orderSubType in controlledValues['order_sub_type'] | filter:{ order_type_id: filterConfig.filters['order_type_id'] }" class="radio-inline">
          <input type="radio" ng-model="filterConfig.filters['order_sub_type_id']"
            value="orderSubType.id" ng-value="orderSubType.id"/>
          {{ orderSubType.label }}
        </span>
      </div>
    </div>


    <div class="row filter-field">
      <div class="small-3 medium-2 columns">
        <label>Status</label>
      </div>
      <div class="small-9 medium-10 columns">
        <select ng-model="filterConfig.filters['state']">
          <option ng-repeat="stateEvent in orderStatesEvents" value="{{ stateEvent['to_state'] }}">{{ stateEvent['to_state'] | removeUnderscores }}</option>
        </select>
      </div>
    </div>



    <div class="row filter-field">
      <div class="small-3 medium-2 columns">
        <label>Item status</label>
      </div>
      <div class="small-9 medium-10 columns">
        <select ng-model="filterConfig.filters['item_state']">
          <option ng-repeat="stateEvent in itemStatesEvents['physical']" value="{{ stateEvent['to_state'] }}">{{ stateEvent['to_state'] | removeUnderscores }}</option>
        </select>
      </div>
    </div>


<!--

    <div class="row filter-field">
      <div class="small-3 medium-2 columns">
        <label>User email</label>
      </div>
      <div class="small-9 medium-10 columns">
        <input type="text" ng-model="filterConfig.filters['user_email']"/>
      </div>
    </div>

    <div class="row filter-field">
      <div class="small-3 medium-2 columns">
        <label>Assignee email</label>
      </div>
      <div class="small-9 medium-10 columns">
        <input type="text" ng-model="filterConfig.filters['assignee_email']"/>
      </div>
    </div>

-->

    <div class="row filter-field date-range">
      <div class="small-3 medium-2 columns">
        <label>Access dates:</label>
      </div>
      <div class="small-9 medium-10 columns">
        <span class="date-range-point date-range-from">
          <label>after</label>
          <input type="text" datepicker allow-past-dates="1" ng-model="filterConfig.options['access_date_from']" ng-change="setDateFilter()" class="datepicker-input"/>
        </span>
        <span class="date-range-point date-range-to">
          <label>before</label>
          <input type="text" datepicker allow-past-dates="1" ng-model="filterConfig.options['access_date_to']" ng-change="setDateFilter()" class="datepicker-input"/>
        </span>
      </div>
    </div>

    <span class="button small" ng-click="applyFilters()">Apply filters</span>

  </div>


</div>

<div class="active-filters" ng-show="filterConfig.filtersApplied">
    <label>Filters:</label>
    <span ng-repeat="(filter, value) in filterConfig.appliedFilters" class="filter">
      <span ng-if="filter=='open' && value">Open: {{ value | booleanString }}</span>
      <span ng-if="filter=='order_type_id'">Order type: {{ getControlledValueLabel(controlledValues['order_type'], value) }}</span>
      <span ng-if="filter=='order_sub_type_id'">Order sub-type: {{ getControlledValueLabel(controlledValues['order_sub_type'], value) }}</span>
      <span ng-if="filter=='user_email'">User email: {{ value }}</span>
      <span ng-if="filter=='assignee_email'">Assignee email: {{ value }}</span>
      <span ng-if="filter=='access_dates'">Access dates: {{ value }}</span>
      <span ng-if="filter=='state'">Status: {{ value | removeUnderscores }}</span>
      <span ng-if="filter=='item_state'">Item status: {{ value | removeUnderscores }}</span>
    </span>
    <span class="link action" ng-click="resetFilters();">Clear filters</span>

</div>
