<div ng-include="templateUrl('common/app_header')"></div>

<h1>New order</h1>


<div ng-show="loading" ng-include="templateUrl('common/processing')"/>

<div ng-hide="loading">

  <div ng-include="templateUrl('orders/form_fields')"/>

  <div ng-show="order['order_type'] && order['order_sub_type']">
    <button class="button" ng-click="createOrder()">Create order</button>
    <button class="button" ng-click="goto('/orders')">Cancel</button>
  </div>

</div>



<div ng-if="debug" class="data-panel">
{{ order | json }}
</div>
