<div class='modal' ng-show='ctrl.showNewUserModal'>

  <div class='modal-overlay' ng-click='ctrl.closeNewUserModal()'></div>

  <div class='modal-dialog' ng-style='dialogStyle'>

    <div class="modal-dialog-content">

      <div ng-if="ctrl.flash" class="flash">{{ flash }}</div>

      <h1>New user</h1>

      <div ng-show="ctrl.loading" ng-include="ctrl.templateUrl('common/processing')"/>

      <div ng-hide="ctrl.loading">

        <div ng-init="user = ctrl.user">
          <div class="user-form" ng-include="ctrl.templateUrl('users/form_fields')"/>
        </div>

        <div class="form-submit-section">
          <button ng-click="ctrl.createAndAddUser()">Create and add to order</button>
          <button ng-click="ctrl.closeNewUserModal()">Cancel</button>
        </div>

      </div>

    </div>

  </div>

</div>



