<ul class="order-users-list">

  <li ng-repeat="user in ctrl.order['users'] | limitTo: ctrl.calculatedUsersLimit()">
    <span class="link" ng-click="ctrl.showUser(user['id'])">{{ user['last_name'] }},
      {{ user['first_name'] }}
      ({{ user['email'] }})</span>
    <span ng-if="user.id == ctrl.order['primary_user_id']" class="inline-label-tag">Primary</span>
    <span ng-if="user.remote" class="inline-label-tag">Remote</span>

    <span ng-if="!user['agreement_confirmed']" class="callout alert">This user has not signed the policies agreement</span>

    <span class="inline-edit-link">
      <span class="link" ng-click="ctrl.goto('users/' + user['id'] + '/edit')"><i class="fas fa-edit"></i></span>
    </span>

  </li>

</ul>

<div ng-if="ctrl.order['users'].length > ctrl.usersLimit">
  <span ng-if="ctrl.truncateUsers" class="truncated-list-post-note">+ {{ ctrl.order['users'].length - ctrl.usersLimit }} more</span>
  <span ng-if="ctrl.truncateUsers" class="link" ng-click="ctrl.toggleTruncateUsers()">Show all</span>
  <span ng-if="!ctrl.truncateUsers" class="link" ng-click="ctrl.toggleTruncateUsers()">Show less</span>
</div>
