<div
    ng-if="ctrl.order.open || ctrl.adminOverrideEnabled"
    class="record-action">
  <span
      class="link"
      ng-click="ctrl.goto('orders/' + ctrl.order.id + '/edit')"><i class="fas fa-edit"></i>Edit</span>
</div>

<div
    ng-if="ctrl.order['deletable']"
    class="record-action">
  <span
      class="link"
      ng-click="ctrl.confirmDeleteRecord('order', ctrl.order)">
    <i class="fas fa-trash-alt"></i>Delete
  </span>
</div>

<div
    class="record-action">
  <span
      class="link"
      ng-click="ctrl.goto('orders/' + ctrl.order.id + '/clone')"><i class="fa fa-copy"></i>Clone</span>
</div>

<div
    poptip="Generate printable 'call slip'"
    class="record-action">
  <a
      ng-href="{{ ctrl.rootPath() }}/orders/{{ ctrl.order['id'] }}/call_slip"
      target="_blank"><i class="fa fa-print"></i>Print</a>
</div>

<div
    poptip="Generate printable 'call slip'"
    class="record-action"
    ng-if="ctrl.order.has_fees">
  <a
      ng-href="{{ ctrl.rootPath() }}/orders/{{ ctrl.order['id'] }}/invoice"
      target="_blank"><i class="fas fa-dollar-sign"></i>Invoice</a>
</div>

<div
    ng-if="ctrl.currentUserIsAdmin"
    ng-include="ctrl.templateUrl('common/admin_override')"
    class="record-action admin-override" />
