<div>
  <div class="inline detail-element">
    <span class="label">Created:</span>
    <span class="value">{{ order['created_at'] | date: 'yyyy-MM-dd' }}</span>
    <span class="value" ng-if="order['created_by_user']">by {{ order['created_by_user']['display_name'] }} ({{ order['created_by_user']['email'] }})</span>
  </div>
</div>


<div>
  <div class="inline detail-element">
    <span class="label">Order type:</span>
    <span class="value">{{ order['order_type']['label'] }}</span>
  </div>

  <div class="inline detail-element">
    <span class="label">Order sub-type:</span>
    <span class="value">{{ order['order_sub_type']['label'] }}</span>
  </div>
</div>


<div>
  <div class="inline detail-element">
    <span class="label">{{ (order['order_type']['value_short'] == 'research') ? 'Access date:' : 'Access dates:' }}</span>
    <span class="value">{{ order['access_date_start'] | date: 'yyyy-MM-dd' }}</span>
    <span ng-if="order['access_date_end']" >
      <span class="date-range-delimeter">to</span>
      <span class="value">{{ order['access_date_end'] | date: 'yyyy-MM-dd' }}</span>
    </span>
  </div>

  <div class="inline detail-element">
    <span class="label">Use location:</span>
    <span class="value">{{ order['temporary_location']['title'] }}</span>
  </div>
</div>


<div class="detail-element" ng-if="order['course_reserve']">
  <div class="inline detail-element">
    <span class="label">Course number:</span>
    <span class="value">{{ order['course_reserve']['course_number'] }}</span>
  </div>
  <div class="inline detail-element">
    <span class="label">Course name:</span>
    <span class="value">{{ order['course_reserve']['course_name'] }}</span>
  </div>
</div>


<div>
  <div class="inline detail-element">
    <span class="label">Assigned to:</span>
    <span class="value" ng-if="order['assignees'].length > 0">
      <span ng-repeat="assignee in order['assignees']">{{ assignee['last_name'] }}, {{ assignee['first_name'] }} ({{ assignee['email'] }})<span ng-if="!$last">; </span></span>
    </span>
  </div>
</div>


<div ng-if="order['clone_order_ids']">
  <div class="inline detail-element">
    <span class="label">Clone {{ order['clone_order_ids'].length > 1 ? 'orders' : 'order'}}:</span>
    <span ng-repeat="id in order['clone_order_ids']">
      <span class="link" ng-click="showOrder(id)">{{ id }}</span><span
          ng-if="!$last">; </span>
    </span>
  </div>
</div>
