<div ng-if="order['digital_image_orders'].length == 0" class="empty-list-label">None selected</div>

<ul class="sub-records-list items-list" ng-if="order['digital_image_orders'].length > 0">

  <li ng-repeat="digitalImageOrder in order['digital_image_orders']" data-image-id="{{ digitalImageOrder['resource_identifier'] }}">

    <div class="row">


      <div class="small-12 columns">

        <div class="record-overview digital-image-overview">

          <div class="overview-element">
            {{ digitalImageOrder['resource_title'] }} ({{ digitalImageOrder['resource_identifier'] }})
          </div>

          <div class="overview-element">
            <a ng-href="{{ digitalImageOrder['display_uri'] }}" target="_blank">{{ digitalImageOrder['display_uri'] }}</a>
          </div>



          <div class="reproduction-detail record-detail">

            <div class="detail-element">

              <div class="subhead">
                {{ digitalImageOrder['requested_images'].length }}
                {{ digitalImageOrder['requested_images'].length == 1 ? "image" : "images" }}
                requested:</div>

              <ul>
                <li ng-repeat="imageId in digitalImageOrder['requested_images']">{{ imageId }}</li>
              </ul>
            </div>


            <div ng-if="digitalImageOrder['order_fee']">

              <div>
                <div class="inline detail-element" ng-if="digitalImageOrder['order_fee']['per_unit_fee']">
                  <span class="label">Fee per file:</span>
                  <span class="value">{{ digitalImageOrder['order_fee']['per_unit_fee'] | currency }}</span>
                </div>

                <div class="inline detail-element" ng-if="digitalImageOrder['order_fee']['per_order_fee']">
                  <span class="label">Additional/other fee:</span>
                  <span class="value">{{ digitalImageOrder['order_fee']['per_order_fee'] | currency }}</span>
                </div>

                <div class="inline detail-element" ng-if="digitalImageOrder['order_fee']['per_order_fee']">
                  <span class="label">Fee description:</span>
                  <span class="value">{{ digitalImageOrder['order_fee']['per_order_fee_description'] }}</span>
                </div>
              </div>

              <div ng-if="digitalImageOrder['order_fee']['note']" class="detail-element">
                <span class="label">Fee note:</span>
                <span class="value">{{ digitalImageOrder['order_fee']['note'] }}</span>
              </div>

            </div>

        </div>

      </div>


    </div>

  </li>

</ul>
