<div class="selector user-selector">

  <div class="heading">Add researcher</div>

  <div class="instruction">Begin typing the name or email of en existing researcher, then select from the list that will appear below.</div>

  <div class="loading" ng-show="userSelect['loading']">
    <div class="message">Fetching data...</div>
  </div>

  <div class="row collapse" ng-hide="userSelect['loading']">

    <div class="small-12 columns">
      <!-- <input type="text" ng-model="userSelect['email']" placeholder="Enter user email"/> -->
      <angucomplete-alt
        id="userSelectEmail"
        placeholder="Enter the researcher's name or email"
        pause="200"
        minlength="1"
        selected-object="addUser"
        remote-url="{{ rootPath() }}/user_typeahead"
        remote-url-request-formatter="angucompleteRequestFormatter"
        remote-url-data-field="users"
        title-field="display_name"
        description-field="email">
    </div>

<!--
    <div class="small-2 columns">
      <span class="button postfix" clear-user-select="user" ng-click="addUser()">Add</span>
    </div>
 -->

  </div>


  <div class="alert" ng-show="userSelect['alert']">{{ userSelect['alert'] }}</div>


</div>
