<ul ng-show="ctrl.order['users'].length > 0" class="subrecords-list users-list">
  <li ng-repeat="user in ctrl.order['users']" data-item-id="{{ item['id'] }}">

    <div class="row">
      <div class="small-10 columns">
        <div ng-include="ctrl.templateUrl('orders/user_overview')"/>
      </div>

      <div class="small-2 columns">
        <div class="subrecord-actions-primary">
          <div ng-if="ctrl.order['primary_user_id'] != user['id']" class="link action" ng-click="ctrl.setPrimaryUserId(user['id'])">Make primary</div>
          <div class="link action" ng-click="ctrl.removeUser(user)">Remove</div>
        </div>
      </div>
    </div>

  </li>
</ul>
