<div ng-if="order['users'].length == 0" class="empty-list-label">None selected</div>


<ul class="sub-records-list users-list" ng-if="order['users'].length > 0">

  <li ng-repeat="user in order['users']" data-item-id="{{ item['id'] }}">

    <div class="row">

      <div class="small-9 columns">
        <div ng-include="templateUrl('orders/user_overview')"/>
      </div>

      <div class="small-3 columns">
        <div class="sub-record-actions item-actions">
          <div ng-if="order['primary_user_id'] == user['id']" class="action primary-user"><i class="fa fa-check"></i> Primary</div>
          <div ng-if="order['primary_user_id'] != user['id']" class="link action" ng-click="setPrimaryUserId(user['id'])">Make primary</div>
          <div class="link action" ng-click="removeUser(user)">Remove</div>
        </div>
      </div>

    </div>

  </li>

</ul>


<div ng-if="removedUsers.length > 0">

  <div class="heading">Removed researchers</div>

  <ul class="sub-records-list users-list removed">

    <li ng-repeat="user in removedUsers">

      <div class="row">

        <div class="small-9 columns">
          <div ng-include="templateUrl('orders/user_overview')"/>
        </div>

        <div class="small-3 columns">
          <div class="sub-record-actions item-actions">
            <span class="link table-action" ng-click="restoreUser(user)">Restore</span>
          </div>
        </div>

      </div>

    </li>

  </ul>

</div>
