<div class="workflow-controls">

  <div ng-show="ctrl.orderEventLoading" ng-include="ctrl.templateUrl('common/processing')"/>

  <div
      ng-show="!ctrl.orderEventLoading"
      ng-repeat="stateEvent in ctrl.statesEvents"
      class="workflow-event {{ 'of-' + ctrl.statesEvents.length }}">

    <div class="workflow-event-inner
      {{ stateEvent['current'] ? 'current' : '' }}
      {{ $last ? ' last' : '' }}
      {{ $first ? ' first' : '' }}
      {{ stateEvent['permitted'] ? 'permitted' : 'not_permitted' }}
      {{ stateEvent['complete'] ? 'complete' : 'incomplete' }}">

      <span
          ng-if="(stateEvent['permitted'] || ctrl.adminOverrideEnabled) && !stateEvent['current']">

        <span
            class="link"
            ng-click="ctrl.triggerOrderEvent(ctrl.order['id'], stateEvent['event'])"
            poptip="{{ stateEvent['eventDescription'] }}">

          <span ng-if="$first || stateEvent['complete']">
            {{ stateEvent['state'] | removeUnderscores }}
          </span>

          <span ng-if="!$first && !stateEvent['complete']">
            {{ stateEvent['event'] | removeUnderscores }}
          </span>

        </span>

      </span>

      <span
          ng-if="(!stateEvent['permitted'] && !ctrl.adminOverrideEnabled) || stateEvent['current']">
        {{ ($first || stateEvent['complete']) ? stateEvent['state'] : stateEvent['event'] | removeUnderscores }}
      </span>

    </div>

  </div>

</div>
