<div ng-class="ctrl.validationErrors['access_date'] ? 'has-error' : ''">

  <h2 ng-switch="ctrl.order['order_type']['name']">
    <span ng-switch-when="research">{{ ctrl.order['order_sub_type']['name'] == 'course_reserve' ? 'Visit dates' : 'Visit date' }}</span>
    <span ng-switch-when="reproduction">Due date</span>
    <span ng-switch-default>Requested dates</span>
  </h2>


  <div ng-if="ctrl.order.dateSingleOrRange == 'single'">
    <input
        type="text"
        datepicker ng-model="ctrl.order['access_date_start']"
        class="datepicker-input"/>
  </div>


  <div ng-if="ctrl.order.dateSingleOrRange == 'range'" class="row">
    <div class="date-range-field small-12 medium-3 columns">
      <label>Start:</label>
      <input
          type="text"
          datepicker
          ng-model="ctrl.order['access_date_start']"
          class="datepicker-input"/>
    </div>

    <div class="date-range-field small-12 medium-3 columns end">
      <label>End:</label>
      <input
          type="text"
          datepicker
          ng-model="ctrl.order['access_date_end']"
          class="datepicker-input"/>
    </div>
  </div>

  <div
      ng-if="ctrl.validationErrors['access_date']"
      class="ctrl.validation-error field-validation-error">{{ ctrl.validationErrors['access_date'] }}</div>

</div>
