<div ng-if="order['digital_image_orders'].length == 0" class="empty-list-label">None selected</div>

<ul class="sub-records-list items-list" ng-if="order['digital_image_orders'].length > 0">

  <li ng-repeat="digitalImageOrder in order['digital_image_orders']" data-image-id="{{ digitalImageOrder['image_id'] }}">

    <div class="row">


      <div class="small-10 columns">

        <div class="record-overview digital-image-overview">

          <div class="overview-element">
            {{ digitalImageOrder['label'] }} ({{ digitalImageOrder['image_id'] }})
          </div>

          <div class="overview-element">
            {{ commonUtils.objectLength(digitalImageOrder['requested_images']) }} images
          </div>

          <div class="overview-element">
            <a ng-href="{{ digitalImageOrder['display_uri'] }}" target="_blank">{{ digitalImageOrder['display_uri'] }}</a>
          </div>

        </div>

      </div>


      <div class="small-2 columns">

        <div class="sub-record-actions item-actions">
          <div><span class="link action" ng-click="removeDigitalImageOrder(digitalImageOrder)">Remove</span></div>
          <div><span class="link action" ng-click="reloadDigitalImageSelect(digitalImageOrder)">Update image selections</span></div>
        </div>

      </div>


    </div>

  </li>

</ul>


<div ng-show="removedDigitalImageOrders.length > 0">

  <div class="heading">Removed items:</div>

  <ul class="sub-records-list removed-sub-records-list items-list removed">
    <li ng-repeat="digitalImageOrder in removedDigitalImageOrders" data-image-id="{{ digitalImageOrder['image_id'] }}">

      <div class="row">

        <div class="small-10 columns">

          <div class="record-overview digital-image-overview">

            <div class="overview-element">
              {{ digitalImageOrder['label'] }} ({{ digitalImageOrder['image_id'] }})
            </div>

            <div class="overview-element">
              {{ commonUtils.objectLength(digitalImageOrder['requested_images']) }} images
            </div>

          </div>

        </div>


        <div class="small-2 columns">
          <div class="sub-record-actions item-actions">
            <span class="link action" ng-click="restoreDigitalImageOrder(digitalImageOrder)">Restore</span>
          </div>
        </div>

      </div>

    </li>
  </ul>

</div>
