<div record-select-trigger class="selector record-selector">


  <div class="heading">Add images from NCSU Digital Collections</div>

  <div class="instruction">Enter the image ID or URL from d.lib.ncsu.edu then click 'Get images'</div>



  <div class="loading" ng-show="digitalImageSelect.loading">
    <div class="message">Fetching data from d.lib.ncsu.edu...</div>
  </div>



  <div class="row collapse" ng-hide="digitalImageSelect.loading">

    <div class="small-10 columns">
      <input type="text" ng-model="digitalImageSelect.getIdValue" placeholder="Enter image ID or d.lib.ncsu.edu URL"/>
    </div>

    <div class="small-2 columns">
      <span class="button postfix" ng-click="getNewDigitalImage()">Get images</span>
    </div>

  </div>



  <div class="selection-display digital-image-select" ng-show="totalImages() > 0">

    <div class="heading">{{ digitalImageSelect['resource_title'] }} ({{ digitalImageSelect['identifier'] }})</div>

    <p>Click image to select/deselect
    <span>({{ totalRequestedImages() }} of
    {{ totalImages() }} selected)</span>
    </p>


    <ul class="small-block-grid-3 medium-block-grid-6">
      <li ng-repeat="(id, thumbnail) in digitalImageSelect['images']" ng-click="requestedImagesToggle(id)"
        class="digital-image-select-item" ng-class="imageRequested(id) ? 'selected' : null">

        <div class="image-label">{{ id }}</div>

        <div class="image-wrap"><img ng-src="{{ thumbnail }}"></div>
      </li>
    </ul>


    <div>
      <span ng-hide="orderIncludesDigitalImageOrder(digitalImageSelect['identifier'])" class="button small" ng-click="applyDigitalImageSelection()">Add {{ totalRequestedImages() }} images to order</span>
      <span ng-show="orderIncludesDigitalImageOrder(digitalImageSelect['identifier'])" class="button small" ng-click="initializeDigitalImageSelect()">OK</span>
    </div>

  </div>



</div>
