<div ng-show="totalImages() > 0" class="selection-display digital-image-select">

  <div class="heading">{{ digitalImageSelect['resource_title'] }} ({{ digitalImageSelect['identifier'] }})</div>


  <div ng-show="digitalImageSelect['imageSelectMode'] == 'text'">

    <div ng-show="digitalImageSelect['allImages'].length > 30" class="text-block">
      Thumbnails are not displayed by default because the resource includes more than 30 images.
      Use the field below to specify which images to include,
      or click 'Select items from thumbnails' to show all {{ digitalImageSelect['allImages'].length }}
      thumbnail images and select them individually.
    </div>

    <div class="text-block">
      <span class="link" ng-click="setDigitalImageSelectMode('thumbnails')">Select items from thumbnails</span>
    </div>

    <div class="heading">Specific items for reproduction</div>

    <textarea ng-model="digitalImageSelect['requestedImagesDetail']"></textarea>

  </div>


  <div ng-show="digitalImageSelect['imageSelectMode'] == 'thumbnails'">

    <div ng-show="digitalImageSelect['allImages'].length > 6" class="text-block">
      <span class="link" ng-click="setDigitalImageSelectMode('text')">Specify selections with free text instead</span>
    </div>

    <div ng-show="digitalImageSelect['allImages'].length > 30">
      <div ng-include="templateUrl('orders/fields/digital_image_submit')"></div>
    </div>

    <div ng-include="templateUrl('orders/fields/digital_image_selector_thumbnails')"></div>

  </div>


  <div>
    <div ng-include="templateUrl('orders/fields/digital_image_submit')"></div>
  </div>


</div>
