<ul
    class="subrecords-list items-list"
    ng-if="ctrl.order['item_orders'].length > 0">

  <li
      ng-repeat="itemOrder in ctrl.order['item_orders']"
      ng-init="item = itemOrder['item']"
      data-item-id="{{ item['id'] }}">

    <div class="row">

      <div class="small-10 columns">
        <div ng-include="ctrl.templateUrl('items/item_overview')"/>
      </div>

      <div class="small-2 columns">
        <div class="subrecord-actions-primary">
          <span
              class="link action"
              ng-click="ctrl.removeItemOrder(itemOrder)">Remove</span>
        </div>
      </div>

    </div>

    <div
        ng-if="ctrl.order['order_type']['name'] == 'reproduction'"
        ng-include="ctrl.templateUrl('orders/fields/reproduction_item_spec')"></div>

  </li>

</ul>
