<div ng-if="order['item_orders'].length == 0" class="empty-list-label">None selected</div>

<ul class="sub-records-list items-list" ng-if="order['item_orders'].length > 0">

  <li ng-repeat="itemOrder in order['item_orders']" ng-init="item = itemOrder['item']" data-item-id="{{ item['id'] }}">

    <div class="row">

      <div class="small-10 columns">
        <div ng-include="templateUrl('items/item_overview')"/>
      </div>

      <div class="small-2 columns">
        <div class="sub-record-actions item-actions">
          <span class="link action" ng-click="removeItemOrder(itemOrder)">Remove</span>
        </div>
      </div>

    </div>


    <div class="row" ng-if="order['order_type']['name'] == 'reproduction'">
      <div class="small-12 columns">
        <div class="heading">Specific items for reproduction</div>
        <textarea ng-model="order['item_orders'][$index]['detail']"/>
      </div>
    </div>


    <div class="row" ng-if="order['order_type']['name'] == 'reproduction'">
      <div class="small-12 columns">
        <div class="heading">Total pages</div>
        <input ng-model="order['item_orders'][$index]['reproduction_pages']" class="integer"/>
      </div>
    </div>

  </li>

</ul>


<div ng-show="removedItemOrders.length > 0">

  <div class="heading">Removed items:</div>

  <ul class="sub-records-list removed-sub-records-list items-list removed">
    <li ng-repeat="itemOrder in removedItemOrders" ng-init="item = itemOrder['item']" data-item-id="{{ item['id'] }}">

      <div class="row">

        <div class="small-10 columns">
          <div>{{ item['resource_title'] }} ({{ item['resource_identifier'] }})</div>
          <div>{{ item['container'] }}</div>
        </div>

        <div class="small-2 columns">
          <div class="sub-record-actions item-actions">
            <span class="link action" ng-click="restoreItemOrder(itemOrder)">Restore</span>
          </div>
        </div>

      </div>

    </li>
  </ul>

</div>
