<div ng-class="ctrl.validationErrors['order_type_id'] ? 'has-error' : ''">

  <h2>Order type</h2>

  <div>
    <select
        ng-model="ctrl.order['order_type_id']"
        ng-change="ctrl.setOrderType(ctrl.controlledValues['order_type'])"
        ng-options="orderType.id as orderType.label for orderType in ctrl.controlledValues['order_type']"
    >
    </select>

    <div ng-if="ctrl.validationErrors['order_type_id']"
        class="validation-error field-validation-error">
      {{ ctrl.validationErrors['order_type_id'] }}
    </div>

  </div>


  <div ng-if="ctrl.order['order_type_id']" class="sub-section">

    <!-- <h3>Sub-type</h3> -->

    <div ng-repeat="orderSubType in ctrl.controlledValues['order_sub_type'] |
        filter:{ order_type_id: ctrl.order['order_type_id'] }" class="radio-block">
      <input
        type="radio"
        ng-model="ctrl.order['order_sub_type_id']"
        ng-change="ctrl.setOrderSubType(ctrl.controlledValues['order_sub_type'])"
        value="orderSubType"
        ng-value="orderSubType.id"
        checked=""
      >
      {{ orderSubType.label }}
    </div>

    <div ng-if="ctrl.validationErrors['order_type_id']" class="validation-error field-validation-error">{{ ctrl.validationErrors['order_type_id'] }}</div>
  </div>

</div>
