<div ng-show="ctrl.removedItemOrders.length > 0" class="sub-section">

  <div class="heading">Removed items:</div>

  <ul class="subrecords-list removed-subrecords-list items-list removed">

    <li
        ng-repeat="itemOrder in ctrl.removedItemOrders"
        ng-init="item = itemOrder['item']"
        data-item-id="{{ item['id'] }}">

      <div class="row">

        <div class="small-10 columns">
          <div>{{ item['resource_title'] }} ({{ item['resource_identifier'] }})</div>
          <div>{{ item['container'] }}</div>
        </div>

        <div class="small-2 columns">
          <div class="sub-record-actions item-actions">
            <span
                class="link action"
                ng-click="ctrl.restoreItemOrder(itemOrder)">Restore</span>
          </div>
        </div>

      </div>

    </li>
  </ul>

</div>
