<div class="row">
  <div class="small-12 columns">
    <div class="heading">Specify items for reproduction</div>
    <textarea ng-model="itemOrder['reproduction_spec']['detail']"/>
  </div>
</div>



<div class="row">

  <div class="small-12 medium-2 columns">
    <div class="heading">Total pages</div>
    <input ng-model="itemOrder['reproduction_spec']['pages']" class="integer"/>
  </div>


  <div class="small-12 medium-10 columns">
    <div class="heading">Format</div>
    <select
      ng-model="itemOrder['reproduction_spec']['reproduction_format_id']"
      ng-change="setReproductionFormat(itemOrder)">
      <option
        ng-repeat="reproductionFormat in controlledValues['reproduction_format']"
        ng-value="{{ reproductionFormat['id'] }}"
        ng-selected="reproductionFormat['id'] == itemOrder['reproduction_spec']['reproduction_format_id']">
        {{ reproductionFormat.name }}
      </option>
    </select>
  </div>

</div>


<div class="row" ng-show="itemOrder['reproduction_format']">
  <div class="small-12 columns">
    <div class="heading">Fee per page/item</div>


    <div class="row">

      <div class="small-12 columns">
        <span class="radio-inline">
          <input type="radio" ng-model="itemOrder['order_fee']['per_unit_fee']" ng-value="itemOrder['reproduction_format']['default_unit_fee_internal']"
            ng-change="hideCustomUnitFee(itemOrder)">
          NCSU: ${{ itemOrder['reproduction_format']['default_unit_fee_internal'] | number : 2  }}
        </span>

        <span class="radio-inline">
          <input type="radio" ng-model="itemOrder['order_fee']['per_unit_fee']" ng-value="itemOrder['reproduction_format']['default_unit_fee_external']"
            ng-change="hideCustomUnitFee(itemOrder)">
          non-NCSU: ${{ itemOrder['reproduction_format']['default_unit_fee_external'] | number : 2 }}
        </span>

        <span class="radio-inline">
          <input type="radio" ng-model="itemOrder['order_fee']['per_unit_fee']" ng-change="showCustomUnitFee(itemOrder)">
          Custom fee amount
          <input type="text" style="display: inline; width: 5em;" ng-model="itemOrder['order_fee']['per_unit_fee']" ng-show="itemOrder['order_fee']['showCustom']" placeholder="Enter custom fee amount">
        </span>
      </div>

    </div>


    {{ itemOrder['order_fee']['per_unit_fee'] | number : 2  }}

  </div>

</div>

