<div class="row">

  <div class="small-12 columns">

    <div ng-class="ctrl.validationErrors['reproduction_spec_detail'][$index] ?
        'has-error' : ''">

      <div class="heading">Specific items for reproduction</div>

      <textarea ng-model="itemOrder['reproduction_spec']['detail']"></textarea>

      <div
          ng-if="ctrl.validationErrors['reproduction_spec_detail'][$index]"
          class="validation-error field-validation-error">
        {{ ctrl.validationErrors['reproduction_spec_detail'][$index] }}
      </div>

    </div>

  </div>

</div>


<div class="row">

  <div class="small-12 medium-2 columns">

    <div ng-class="ctrl.validationErrors['reproduction_spec_pages'][$index] ?
        'has-error' : ''">

      <div class="heading">Total pages/files</div>

      <input type="number" ng-model="itemOrder['reproduction_spec']['pages']" />

      <div
          ng-if="ctrl.validationErrors['reproduction_spec_pages'][$index]"
          class="ctrl.validation-error field-validation-error">
        {{ ctrl.validationErrors['reproduction_spec_pages'][$index] }}
      </div>

    </div>

  </div>


  <div class="small-12 medium-10 columns">

    <div ng-class="ctrl.validationErrors['reproduction_spec_format'][$index] ?
        'has-error' : ''">

      <div class="heading">Format</div>

      <select
        ng-model="itemOrder['reproduction_spec']['reproduction_format_id']"
        ng-change="ctrl.setReproductionFormat(itemOrder)">
        <option
          ng-repeat="reproductionFormat in ctrl.controlledValues['reproduction_format']"
          ng-value="{{ reproductionFormat['id'] }}"
          ng-selected="reproductionFormat['id'] ==
              itemOrder['reproduction_spec']['reproduction_format_id']">
          {{ reproductionFormat.name }}
        </option>
      </select>

      <div
          ng-if="ctrl.validationErrors['reproduction_spec_format'][$index]"
          class="ctrl.validation-error field-validation-error">
        {{ ctrl.validationErrors['reproduction_spec_format'][$index] }}
      </div>

    </div>

  </div>

</div>


<div ng-show="ctrl.order['order_sub_type']['name'] == 'reproduction_fee'">

  <div
      ng-show="itemOrder['reproduction_spec']['reproduction_format']"
      ng-include="ctrl.templateUrl('orders/fields/reproduction_fees')"
      class="reproduction-item-fees"></div>

</div>
