<div class="form-section" ng-class="validationErrors['users'] ? 'has-error' : ''">

  <h2>Requester</h2>

  <div ng-if="validationErrors['users']" class="validation-error field-validation-error">{{ validationErrors['users'] }}</div>

  <div ng-include="templateUrl('orders/user_list')"></div>

  <div ng-show="order['users'].length == 0" ng-include="templateUrl('orders/fields/user_selector')"></div>

  <div ng-show="order['users'].length == 0"><span class="link" ng-click="createAndAddUser()">Create and add new user</span></div>

</div>
