<div ng-class="ctrl.validationErrors['users'] ? 'has-error' : ''">

  <h2>Requester</h2>

  <div
      ng-if="ctrl.validationErrors['users']"
      class="validation-error field-validation-error">
    {{ ctrl.validationErrors['users'] }}
  </div>

  <div ng-include="ctrl.templateUrl('orders/user_list')"></div>

  <div
      ng-show="ctrl.order['users'].length == 0"
      ng-include="ctrl.templateUrl('orders/fields/user_selector')">
  </div>

  <div ng-show="ctrl.order['users'].length == 0">
    <span
        class="link"
        ng-click="ctrl.createAndAddUser()">Create and add new user</span>
  </div>

</div>
