<div class="selector user-selector" ng-show="ctrl.userSelect.show">

  <div class="close-selector">
    <span class="link" ng-click="ctrl.closeUserSelector()">
      <i class="fas fa-times-circle"></i>
    </span>
  </div>

  <div class="instruction">Begin typing the name or email of en existing user,
      then select from the list to add the user to this order.</div>

  <div class="user-select">

    <input
        type="text"
        ng-model="ctrl.userSelect.q"
        ng-keyup="ctrl.updateUserSelectList()"
        placeholder="Enter user email"
    />

    <div class="user-select-list" ng-show="ctrl.userSelect.list.length > 0">
      <ul>
        <li
            ng-repeat="user in ctrl.userSelect.list"
            ng-class="$last ? 'last' : ''"
            ng-click="ctrl.selectUser(user)">
          {{ user['display_name'] }} ( {{ user['email'] }} )
        </li>
      </ul>
    </div>

  </div>

  <div class="alert" ng-show="ctrl.userSelect.alert">{{ ctrl.userSelectAlert }}</div>

</div>
