<tr class="sub-row">

  <td class="indent">
    <%= record.order_fee.per_order_fee_description %>
  </td>

  <td class="numeric">1</td>

  <td class="numeric"><%= number_to_currency(record.order_fee.per_order_fee) %></td>

  <td class="numeric"><%= number_to_currency(record.order_fee.per_order_fee) %></td>

</tr>
