<div ng-controller="UsersEditCtrl as ctrl">

  <div ng-include="ctrl.templateUrl('common/app_header')"></div>

  <main>

    <div ng-show="ctrl.loading" ng-include="ctrl.templateUrl('common/processing')"/>

    <div ng-if="!ctrl.loading">

      <h1>Edit user registration
        <span class="subhead">ID: {{ ctrl.user['id'] }}</span>
      </h1>

      <div
          ng-show="ctrl.loading"
          ng-include="ctrl.templateUrl('common/processing')">
      </div>

      <div ng-hide="ctrl.loading">

        <div
            class="form user-form"
            ng-include="ctrl.templateUrl('users/form_fields')">
        </div>

        <div class="form-submit-section">
          <button
              class="button submit"
              ng-click="ctrl.updateUser()">
            Submit changes
          </button>

          <button
              class="button"
              ng-click="ctrl.goto('/users')">
            Cancel
          </button>
        </div>

      </div>

    </div>

    <div ng-if="ctrl.debug" class="data-panel">
      {{ ctrl.user | json }}
      <br>
      {{ ctrl.currentUser['assignable_roles'] | json }}
      </div>

  </main>

</div>
