<div
    ng-if="ctrl.user.hasValidationErrors == true"
    class="validation-error form-validation-error">
  Please fix the problems noted below.
</div>

<div class="row">

  <div class="small-6 columns">
    <div ng-class="ctrl.user.validationErrors['first_name'] ? 'has-error' : ''">
      <span class="field-label">First name</span><br>
      <input
          type="text"
          ng-model="ctrl.user['first_name']">
      <div
          ng-if="ctrl.user.validationErrors['first_name']"
          class="validation-error field-validation-error">
        {{ ctrl.user.validationErrors['first_name'] }}
      </div>
    </div>
  </div>

  <div class="small-6 columns">
    <div ng-class="ctrl.user.validationErrors['last_name'] ? 'has-error' : ''">
      <span class="field-label">Last name</span><br>
      <input
          type="text"
          ng-model="ctrl.user['last_name']">
      <div
          ng-if="ctrl.user.validationErrors['last_name']"
          class="validation-error field-validation-error">
        {{ ctrl.user.validationErrors['last_name'] }}
      </div>
    </div>
  </div>

</div>


<div class="row">

  <div class="small-6 columns end">
    <div ng-class="ctrl.user.validationErrors['email'] ? 'has-error' : ''">
      <span class="field-label">Email</span><br>
      <input
          type="text"
          ng-model="ctrl.user['email']">
      <div
          ng-if="ctrl.user.validationErrors['email']"
          class="validation-error field-validation-error">
        {{ ctrl.user.validationErrors['email'] }}
      </div>
    </div>
  </div>

</div>



<div
    class="row"
    ng-if="ctrl.mode == 'new' && ctrl.options['use_devise_passwords']">
  <div class="small-6 columns end">
    <div ng-class="ctrl.user.validationErrors['password'] ? 'has-error' : ''">
      <span class="field-label">Password</span>
      <input
          type="text"
          ng-model="ctrl.user['password']">
      <div
          ng-if="ctrl.user.validationErrors['password']"
          class="validation-error field-validation-error">
        {{ ctrl.user.validationErrors['password'] }}
      </div>
    </div>
  </div>
</div>


<div class="row">

  <div class="small-6 columns end">
    <div ng-class="ctrl.user.validationErrors['user_role_id'] ? 'has-error' : ''">
      <span class="field-label">Circa user role</span><br>

      <select
          ng-options="role.id as role.name for role in ctrl.currentUser['assignable_roles']"
          ng-model="ctrl.user['user_role_id']">
      </select>

      <div
          ng-if="ctrl.user.validationErrors['role']"
          class="validation-error field-validation-error">
        {{ ctrl.user.validationErrors['role'] }}
      </div>
    </div>
  </div>

  <div class="small-6 columns end">
    <div ng-class="ctrl.user.validationErrors['researcher_type_id'] ? 'has-error' : ''">
      <span class="field-label">Researcher type</span><br>

      <select
          ng-options="researcherType.id as researcherType.value for researcherType in ctrl.controlledValues['researcher_type']"
          ng-model="ctrl.user['researcher_type_id']">
      </select>

      <div
          ng-if="ctrl.user.validationErrors['researcher_type_id']"
          class="validation-error field-validation-error">
        {{ ctrl.user.validationErrors['researcher_type_id'] }}
      </div>
    </div>
  </div>

</div>


<div class="row">

  <div class="small-6 columns">
    <div ng-class="ctrl.user.validationErrors['affiliation'] ? 'has-error' : ''">
      <span class="field-label">Affiliation</span><br>
      <input
          type="text"
          ng-model="ctrl.user['affiliation']">
      <div
          ng-if="ctrl.user.validationErrors['affiliation']"
          class="validation-error field-validation-error">
        {{ ctrl.user.validationErrors['affiliation'] }}
      </div>
    </div>
  </div>

  <div class="small-6 columns">
    <div ng-class="ctrl.user.validationErrors['position'] ? 'has-error' : ''">
      <span class="field-label">Position</span><br>
      <input
          type="text"
          ng-model="ctrl.user['position']">
      <div
          ng-if="ctrl.user.validationErrors['position']"
          class="validation-error field-validation-error">
        {{ ctrl.user.validationErrors['position'] }}
      </div>
    </div>
  </div>

</div>


<div class="row">

  <div class="small-12 columns">
    <div ng-class="ctrl.user.validationErrors['address1'] ? 'has-error' : ''">
      <span class="field-label">Address (line 1)</span><br>
      <input
          type="text"
          ng-model="ctrl.user['address1']">
      <div
          ng-if="ctrl.user.validationErrors['address1']"
          class="validation-error field-validation-error">
        {{ ctrl.user.validationErrors['address1'] }}
      </div>
    </div>
  </div>

</div>


<div class="row">

  <div class="small-12 columns">
    <div ng-class="ctrl.user.validationErrors['address2'] ? 'has-error' : ''">
      <span class="field-label">Address (line 2)</span><br>
      <input
          type="text"
          ng-model="user['address2']">
      <div
          ng-if="ctrl.user.validationErrors['address2']"
          class="validation-error field-validation-error">
        {{ ctrl.user.validationErrors['address2'] }}
      </div>
    </div>
  </div>

</div>


<div class="row">

  <div class="small-6 columns">
    <div ng-class="ctrl.user.validationErrors['city'] ? 'has-error' : ''">
      <span class="field-label">City</span><br>
      <input
          type="text"
          ng-model="user['city']">
      <div
          ng-if="ctrl.user.validationErrors['city']"
          class="validation-error field-validation-error">
        {{ ctrl.user.validationErrors['city'] }}
      </div>
    </div>
  </div>

  <div class="small-3 columns">
    <div ng-class="ctrl.user.validationErrors['state'] ? 'has-error' : ''">
      <span class="field-label">State</span><br>
      <select ng-model="ctrl.user['state']">
        <option
            ng-repeat="state in ctrl.stateRegionValues"
            ng-selected="ctrl.user['state'] == state[0]"
            value="{{ state[0] }}">
          {{ state[1] }}
        </option>
      </select>
      <div
          ng-if="ctrl.user.validationErrors['state']"
          class="validation-error field-validation-error">
        {{ ctrl.user.validationErrors['state'] }}
      </div>
    </div>
  </div>

  <div class="small-3 columns">
    <div ng-class="ctrl.user.validationErrors['zip'] ? 'has-error' : ''">
      <span class="field-label">ZIP/Postal code</span><br>
      <input
          type="text"
          ng-model="ctrl.user['zip']">
      <div
          ng-if="ctrl.user.validationErrors['zip']"
          class="validation-error field-validation-error">
        {{ ctrl.user.validationErrors['zip'] }}
      </div>
    </div>
  </div>

</div>


<div class="row">
  <div class="small-6 columns end">
    <div ng-class="ctrl.user.validationErrors['country'] ? 'has-error' : ''">
      <span class="field-label">Country</span><br>
      <country-select
          cs-priorities="US"
          ng-model="ctrl.user['country']">
      </country-select>
      <div
          ng-if="ctrl.user.validationErrors['country']"
          class="validation-error field-validation-error">
        {{ ctrl.user.validationErrors['country'] }}
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="small-6 columns end">
    <div ng-class="ctrl.user.validationErrors['phone'] ? 'has-error' : ''">
      <span class="field-label">Phone</span><br>
      <input
          type="text"
          ng-model="ctrl.user['phone']">
      <div
          ng-if="ctrl.user.validationErrors['phone']"
          class="validation-error field-validation-error">
        {{ ctrl.user.validationErrors['phone'] }}
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="small-12 columns">
    <div ng-class="ctrl.user.validationErrors['agreement_confirmed'] ? 'has-error' : ''">
      <input
          type="checkbox"
          ng-model="ctrl.user['agreement_confirmed']"
          ng-checked="ctrl.user['agreement_confirmed']">
      <span class="field-label checkbox-label">Policies agreement signed?</span>
      <div
          ng-if="ctrl.user.validationErrors['agreement_confirmed']"
          class="validation-error field-validation-error">
        {{ ctrl.user.validationErrors['agreement_confirmed'] }}
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="small-12 columns">
    <input
        type="checkbox"
        ng-model="ctrl.user['inactive']"
        ng-checked="ctrl.user['inactive']">
    <span class="field-label checkbox-label">Mark as inactive (user will no longer be able to log in but history will be retained)</span>
  </div>
</div>


<!-- notes -->
<div class="row">

  <div class="small-12 columns">
    <h2>Notes</h2>

    <ul
        class="subrecords-list notes-list"
        ng-if="ctrl.user['notes'].length > 0">

      <li ng-repeat="note in ctrl.user['notes']">
        <div class="row">

          <div class="small-11 columns">
            <textarea ng-model="ctrl.user['notes'][$index]['content']"/>
          </div>

          <div class="small-1 columns">
            <div class="sub-record-actions item-actions">
              <span
                  class="link action"
                  ng-click="ctrl.removeNote(ctrl.user, $index)">
                Remove
              </span>
            </div>
          </div>

        </div>
      </li>

    </ul>


    <span
        class="link"
        ng-click="ctrl.addNote(ctrl.user)">
      Add note
    </span>

    <div ng-show="ctrl.removedNotes.length > 0">

      <div class="heading">Removed notes:</div>

      <ul class="subrecords-list removed-notes-list">
        <li ng-repeat="note in ctrl.removedNotes">
          <div class="row">
            <div class="small-10 columns"><p>{{ note['content'] }}</p></div>
            <div
                class="small-2 columns sub-record-actions">
              <span
                  class="link action"
                  ng-click="ctrl.restoreNote(ctrl.user, note)">
                Restore
              </span>
            </div>
          </div>
        </li>
      </ul>

    </div>

  </div>

</div>
