<div ng-controller="UsersNewCtrl as ctrl">

  <div ng-include="ctrl.templateUrl('common/app_header')"></div>

  <main>

    <h1>New user</h1>

    <div
        ng-show="loading"
        ng-include="ctrl.templateUrl('common/processing')"/>

    <div ng-hide="loading">

      <div ng-include="ctrl.templateUrl('users/ldap_search')"/>

      <div
          class="form user-form"
          ng-include="ctrl.templateUrl('users/form_fields')"/>

      <div class="form-submit-section">
        <button
            class="button submit"
            ng-click="ctrl.createUser()">
          Submit
        </button>

        <button
            class="button"
            ng-click="ctrl.goto('/users')">
          Cancel
        </button>
      </div>

    </div>

    <div ng-if="debug" class="data-panel">
      {{ ctrl.user | json }}
    </div>

  </main>

</div>
