<span class="list-item-link" ng-click="ctrl.showUser(user['id'])"></span>

<div class="record-overview user-overview">

  <div class="overview-element primary">
    {{ user['last_name'] }},
    {{ user['first_name'] }}
    ({{ user['email'] }})
  </div>

  <div>
    <div class="overview-element inline">
      <span class="label">ID:</span>
      <span class="value">{{ user['id'] }}</span>
    </div>

    <div class='overview-element inline'>
      <span class="label">Circa role:</span>
      {{ user['roles'][0] }}
    </div>

    <div class='overview-element inline'>
      <span class="label">Researcher type:</span>
      {{ user['researcher_type'] }}
    </div>
  </div>

  <div
      class='overview-element'
      ng-class="user['agreement_confirmed_at'] ? 'positive' : 'negative' ">
    <span class="label">Policies agreement signed?</span>
    {{ user['agreement_confirmed_at'] ? 'Yes' : 'No '}}
  </div>

</div>
