<div ng-controller="UsersShowCtrl as ctrl">

  <div ng-include="ctrl.templateUrl('common/app_header')"></div>

  <main>

    <div ng-show="ctrl.loading" ng-include="ctrl.templateUrl('common/processing')"/>

    <div ng-if="!ctrl.loading">

      <h1>User details</h1>

      <section class="record-detail user-detail">

        <div class="record-show-actions">
          <div class="record-action">
            <span
                class="link"
                ng-if="ctrl.user['agreement_confirmed']"
                ng-click="ctrl.goto('/users/' + ctrl.user['id'] + '/new_order')">
              <i class="fas fa-bell"></i>New order for this user</a></span>
          </div>

          <div class="record-action">
            <span
                class="link"
                ng-click="ctrl.editUser(ctrl.user['id'])">
              <i class="fas fa-edit"></i>Edit</span>
          </div>

          <div class="record-action"
              ng-if="ctrl.options['use_devise_passwords']">
            <span class="link"
                ng-click="ctrl.sendPasswordResetLink(user)">
              <i class="far fa-paper-plane"></i>Send password reset link
            </span>
          </div>

          <div class="record-action">
            <span class="link"
                ng-click="ctrl.confirmDeleteRecord('user', ctrl.user)">
              <i class="fas fa-trash-alt"></i>Delete</span>
          </div>
        </div>

        <div>
          <div class='detail-element primary'>
            {{ ctrl.user['last_name'] }},
            {{ ctrl.user['first_name'] }}
          </div>

          <div ng-if="ctrl.user.inactive" class='detail-element'>
            <span class="callout user-inactive">This user is inactive</span>
          </div>


          <div class='detail-element'>
            <span class="label">Display name:</span>
            {{ ctrl.user['display_name'] }}
          </div>

          <div>
            <div class='detail-element inline'>
              <span class="label">Email:</span>
              {{ ctrl.user['email'] }}
            </div>

            <div class='detail-element inline'>
              <span class="label">Phone:</span>
              {{ ctrl.user['phone'] || '--' }}
            </div>
          </div>

          <div>
            <div class='detail-element inline'>
              <span class="label">Researcher type:</span>
              {{ ctrl.user['researcher_type'] }}
            </div>

            <div class='detail-element inline'>
              <span class="label">Circa role:</span>
              {{ ctrl.user['role'] }}
            </div>
          </div>

          <div>
            <div class='detail-element inline'>
              <span class="label">Affiliation:</span>
              {{ ctrl.user['affiliation'] }}
            </div>

            <div class='detail-element inline'>
              <span class="label">Position:</span>
              {{ ctrl.user['position'] }}
            </div>
          </div>

          <div class='detail-element'>
            <span class="label">Address 1:</span>
            {{ ctrl.user['address1'] || '---' }}
          </div>

          <div class='detail-element'>
            <span class="label">Address 2:</span>
            {{ ctrl.user['address2'] || '---' }}
          </div>

          <div>
            <div class='detail-element inline'>
              <span class="label">City:</span>
              {{ ctrl.user['city'] || '---' }}
            </div>

            <div class='detail-element inline'>
              <span class="label">State:</span>
              {{ ctrl.user['state'] || '---' }}
            </div>

            <div class='detail-element inline'>
              <span class="label">ZIP/Postal code:</span>
              {{ ctrl.user['zip'] || '---' }}
            </div>

            <div class='detail-element inline'>
              <span class="label">Country:</span>
              {{ ctrl.user['country'] || '---' }}
            </div>
          </div>

          <div class='detail-element'>
            <span class="label">Policies agreement signed?</span>
            {{ ctrl.user['agreement_confirmed'] ? 'Yes' : 'No '}}
          </div>

          <div class='detail-element'
              ng-if="ctrl.user.notes.length > 0">
            <span class="label">Notes</span><br>
            <div ng-repeat="note in ctrl.user.notes">
              {{ note['content'] }}
            </div>
          </div>

        </div>
      </section>


      <section ng-if="ctrl.user['open_orders'].length > 0">
        <h2>Open orders</h2>

        <ul class="subrecords-list orders-list">
          <li ng-repeat="order in ctrl.user['open_orders']">
            <div ng-include="ctrl.templateUrl('orders/record_list_item')"></div>
          </li>
        </ul>
      </section>


      <section ng-if="ctrl.user['completed_orders'].length > 0">
        <h2>Completed orders</h2>

        <ul class="subrecords-list orders-list">
          <li ng-repeat="order in ctrl.user['completed_orders']" class="closed">
            <div ng-include="ctrl.templateUrl('orders/record_list_item_short')"></div>
          </li>
        </ul>
      </section>


      <div ng-if="ctrl.debug" class="data-panel">
      {{ ctrl.user | json }}
      </div>

    </div>

  </main>

</div>
