defaults: &defaults
  order_notification_default_email: {{order_notification_default_email}}
  order_notification_digital_items_email: {{order_notification_default_email}}
  circa_email: {{circa_email}}
  circa_email_display_name: {{circa_email_display_name}}

development:
  <<: *defaults

test:
  <<: *defaults

staging:
  <<: *defaults

production:
  <<: *defaults
