defaults: &defaults
  solr_host: {{solr_host}}
  solr_port: '{{solr_port}}'
  solr_core_name: {{solr_core_name}}
  solr_core_path: {{solr_core_path}}

development:
  <<: *defaults

test:
  <<: *defaults

staging:
  <<: *defaults

production:
  <<: *defaults
