.dashboard {

  h3 {
    margin: 1.25rem 0 0.25rem 0;
  }

  h3 .print-call-slip {
    font-size: 0.9rem;
    padding-left: 1rem;
  }

  .print-list {
    margin: 1rem 0;
  }

  .pending-transfers-order {
    margin: 1rem 0;
  }

  .facility-filter-option, .location-filter-option {
    padding: 0 1rem;
    border-right: 1px solid $grayLight;
    &.last {
      border-right: 0;
    }
  }

  ul.records-list {
    margin-bottom: 1rem;

    li {
      background: $bodyBackground;
      &:hover {
        background: $grayGhost;
        cursor: inherit;
      }
    }
  }

}
