.form {
  section {
    margin: 1.5rem 0;

    .subsection {
      margin: .5rem 0;
    }
  }

  label, .label {
    // font-weight: bold;
  }

  input, select {
    margin-bottom: 0;
  }

  .label.inline, label.inline {
    display: inline !important;
    padding: 0;
  }

  .instruction {
    margin: 0 0 .25rem 0;
    &.small {
      font-size: 90%;
    }
  }

  &.user-form {
    .row .column, .row .columns {
      padding-left: 0;
      padding-right: 1.875rem;
      padding-bottom: 0.5rem;
    }
  }
}




.checkbox-label, .radio-label {
  padding-left: 0.5rem;
}

.form-field {
  margin: 0 0 1rem 0;
}

.form-field-note {
  font-style: italic;
  font-size: 90%;
  margin-top: 0.25rem;
}

.form-submit-section {
  margin: 1rem 0 0 0;

  .button, button {
    margin: 0;
  }
}

.text-block {
  margin: 1rem 0;

  &:last-child {
    margin-bottom: 0;
  }
}

input.datepicker-input {
  width: 10em;
  display: inline;
}

.date-range {
  position: relative;

  .date-range-from, .date-range-to {

    input {
      display: inline;
      width: 10rem;
    }
  }
}

.date-range-fieldset {

  .date-range-field {
    display: inline;
    padding-right: 1rem;
  }

  label, .datepicker-input {
    display: inline;
  }
}

.ui-datepicker {
  background: $white;
  z-index: 1000!important;

  .ui-icon {
    overflow: hidden;
    text-indent: -99999px;
  }

  .ui-datepicker-header {
    padding: 5px;
    position: relative;
    overflow: hidden;
    text-align: center;

    .ui-datepicker-prev {
      float: left;
    }

    .ui-datepicker-next {
      float: right;
    }
  }

  .ui-datepicker-unselectable, .ui-state-disabled {
    color: $grayLighter;
  }
}

.ui-datepicker-trigger {
  padding: 0 0.25rem;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: $grayLight;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: $grayLight;
  opacity:  1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: $grayLight;
   opacity:  1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: $grayLight;
}

:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color: $grayLight;
}

input:focus::-webkit-input-placeholder { color:transparent; }

input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */

input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */

input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

.has-error {
  padding: 0.5rem;
  border: 2px solid $orange;
}

.validation-error {
  font-weight: bold;
  font-style: italic;
  color: $orange;
}

.fieldset {
  padding: 0.5em;
  background: $grayGhost;
  border: 1px solid $grayLighter;
  margin: 2px 0 1rem 0;
  position: relative;

  .text-block {
    margin: 0 0 1rem 0;
  }

  .columns {
    padding-left: 0;
  }
}

.selector {
  padding: 0.5em;
  background: $grayLightest;
  border: 1px solid $grayLighter;
  margin: 2px 0 1rem 0;
  position: relative;

  .heading {
    font-size: 110%;
    font-weight: bold;
  }

  .subheading {
    font-size: 90%;
    font-weight: bold;
    padding-left: 1rem;
  }

  .instruction {
    font-size: 90%;
  }

  input, button, .button {
    margin-bottom: 0 !important;
  }

  .close-selector {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 1rem;
    height: 1rem;
    z-index: 1;
  }

  .selection-display {
    border: 1px solid $grayLighter;
    padding: 1rem;
    margin-top: 1rem;
    background: $grayGhost;

    .record-detail {
      padding: 0;

      &.catalog-item-detail {
        margin-bottom: 1rem;
      }
    }

    .heading {
      margin: 1rem 0;

      &:first-child {
        margin-top: 0;
      }
    }

    .digital-image-select-item {
      .image-label {
        font-size: 80%;
        line-height: 1.25em;
        margin: 0 0 0.5rem 0;
      }

      &:hover {
        cursor: pointer;
      }

      img {
        border: 2px solid $grayLight;
        opacity: 0.6;
      }

      &.selected img {
        border: 2px solid $red;
        opacity: 1;
      }
    }
  }

  ul {
    margin-left: 0 !important;

    li ul {
      margin-left: 0 !important;
    }

    li {
      // background: none !important;
      // background: $white;
    }
  }

  .selector-modify {
    padding-left: 0.5rem !important;
    padding-top: 0.25rem !important;
    label {
      top: 1px;
      margin-left: .25rem;
    }
  }
}

.archivesspace-record-selector {
  margin: 2px 0 1rem 0;

  input {
    margin: 0;
  }

  .button {
    margin: 0
  }
}


.user-select {
  position: relative;
  .user-select-list {
    position: absolute;
    max-width: 95%;
    max-height: 8rem;
    overflow: auto;
    background: $white;
    border: 1px solid $gray;
    z-index: 100;
    ul {
      margin: 0;
      padding: 0;
      list-style: nonw;

      li {
        margin: 0;
        padding: 0.5rem;
        border-bottom: 1px solid $grayLight;
        background: $grayGhost;
        &:hover {
          background: $blue;
          color: $white;
          cursor: pointer;
        }
      }
    }
  }
}


.add-user-links, .add-item-links {
  margin: 0.5rem 0;
  padding: 0 0.25rem;

  .add-user-link, .add-item-link {
    padding-right: 2rem;
  }
}


.sub-section {
  padding: 0.5rem;
}

.radio-block {
  input {
    margin-bottom: 0.25rem;
  }
}

.radio-inline {
  white-space: nowrap;
  padding-right: 1rem;
}

textarea {
  margin: 0 0 0.5rem 0;
}

input.integer {
  width: 5rem;
}

.course-info {
  .course-number {
    margin-bottom: 0.5rem;
  }
}

.remove-link {
  text-transform: uppercase;
  font-size: 90%;
}
