.top-bar {
  background: $red;
  height: 2rem;
  line-height: 2rem;
  margin-bottom: 0;
  overflow: hidden;
  position: relative;
}

header {

  margin-top: 0px; /* fix the spacing problem with the University nav iframe */
  background: $red !important;
  padding: 0.5rem 1rem;

  .top-bar {
    background: $red !important;
    height: 3.5rem;

    .name {
      padding-top: 0.25rem;
      font-size: 16px;
      height: 3.5rem;
      margin: 0;
      img {
        height: 100%;
      }
    }

    a#home-link {
      display: block;
      height: 3.5rem;
      width: 12rem;
      position: absolute;
      top: 0;
      left: 0;
      * {
        visibility: hidden;
      }
      z-index: 100;
    }
  }
}


#current-user-tools {
  position: absolute;
  bottom: 0;
  right: 0;
  color: $white;
  width: 100%;
  text-align: right;
  z-index: 100;
  // padding-top: 0.25rem;
  padding-right: 10px;
  line-height: 1em;

  a {
    color: $grayLightest;;
    &:hover {
      color: $white;
      text-decoration: underline;
    }
  }

  .sign-out {
    text-transform: uppercase;
    font-size: 70%;
    padding-left: 0.25rem;
  }
}

.app-nav {
  @extend .row;
  margin: 0.5rem auto 1rem auto;
  position: relative;
  text-transform: uppercase;
  line-height: 1em;

  .nav-link {
    padding: 0 2rem 0 0;

    i {
      padding-right: 0.25rem;
    }

    a {
      color: $textColor;
      line-height: 1em;

      &.current {
        font-weight: bold;
        color: $red;
      }
    }
  }
}

.header-flash {
  @extend .row;
  padding: 0 1rem;;
}

// app header

// .app-header {
//   @extend .row;
//   margin: 0.5rem auto 2.5rem auto;
//   position: relative;
//   padding: 0;
//
//   .column {
//     padding-left: 0;
//   }
//
//   .app-name {
//     // text-transform: uppercase;
//     font-family: "GlyphaRoman", helvetica, arial, sans-serif;
//     border-bottom: 1px solid $grayLighter;
//     font-size: 3rem;
//     font-weight: bold;
//     line-height: 1em;
//     padding-bottom: -0.25rem;
//     .link {
//       color: $textColor;
//       &:hover {
//         text-decoration: none;
//         color: $textColor;
//       }
//     }
//   }
// }
