.record-show-actions, .record-list-actions, table .record-list-actions {
  margin: 1rem 0;
  position: relative;

  .record-action {
    display: inline;
    white-space: nowrap;
    padding-right: 1.5rem;
  }

  .admin-override {
    float: right;
  }
}

.version-overview {
  .label.current {
    font-weight: bold;
  }

  .version-update-info {
    margin-bottom: 0.5rem;
  }
}

ul.actions-list {
  li {
    white-space: nowrap;
    // margin-bottom: 0;
    line-height: 1.25em;
  }
}

.truncated-list-post-note {
  color: $gray;
  font-size: 0.8em;
  text-transform: uppercase;
}

.primary-user {
  color: $green;
  font-weight: normal;
  text-transform: uppercase;
}

.admin-override {
  font-size: 80%;
  text-transform: uppercase;
}

// Big Nav

.icon-link {
  font-size: 1.25rem;

  &.remove {
    color: $red;
    &:hover {
      color: $red2;
    }
  }
}

.loading {
  background-image: image-url("loading.gif");
  background-position: center top;
  background-repeat: no-repeat;
  min-height: 70px;

  .message {
    padding: 70px 0 20px 0;
    color: $red;
    font-style: italic;
    text-align: center;
  }
}

.date-range-delimeter {
  padding: 0 0.5rem;
}

.callout {
  font-weight: bold;
  font-size: 95%;

  &.order-closed, &.user-inactive {
    padding: 0.3rem 0.3rem 0.125rem 0.3rem;
    background: $yellow;
    margin: 1rem 0;
    line-height: 1.1em;
  }
}

.tabs {
  position: relative;
  overflow: visible;
  width: 100%;
  padding-bottom: 2px;
  margin-bottom: 1rem !important;

  .tab {
    font-size: 90%;
    float: left;
    padding: 0 2px 2px 0;
    text-align: center;
    border-bottom: 1px solid $grayLightest;

    .link {
      text-decoration: none;
      color: $textColor;

      &:hover {
        color: $green;
        text-decoration: underline;
      }
    }

    &:last-child {
      padding-right: 0;
    }

    .tab-inner {
      padding: 1rem 1.5rem;
      background: $grayGhost;
      display: block;

      &:hover {
        background: $grayLightest;
      }
    }

    &.active {
      .tab-inner {
        background: $white;
      }
    }
  }
}

dl.tabs {
  dd {
    border-right: 2px solid $white;
    border-bottom: 1px solid #ddd;
    padding-bottom: 2px;
  }
}

dl.tabs dd > a {
  font-size: 90%;
}

.tabset .tab-content {
  padding: 0 1rem;
}



.inline-action {
  font-size: 80%;
  padding-left: 0.5rem;
}
