// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


table.order-list {

  tr.order-list-row {
    &:hover {
      background: $yellow;
      cursor: pointer;
    }
  }
}


.order-detail {
  margin: 2rem 0;
}


.order-users-list {

  li {
    padding: 0;
    margin: 0 0 .5rem 1.5rem;
    border: none;
    list-style: circle;
  }
}


.primary-user-label {
  color: $green;
  font-size: 80%;
  text-transform: uppercase;
  font-weight: normal;
}


.workflow-controls {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 2rem 0;

  .workflow-event {
    float: left;

    .workflow-event-inner {
      background-image: image-url("timeline_sprite.png");
      background-position: center -200px;
      background-repeat: repeat-x;
      padding-top: 30px;
      text-align: center;

      &.first {
        background-image: image-url("timeline_sprite_start.png");
      }

      &.last {
        background-image: image-url("timeline_sprite_end.png");
      }

      &.available, &.permitted {

      }

      &.unavailable, &.not_permitted {
        color: $grayLighter;
      }

      &.complete {
        color: $gray;
        background-position: center 0;
      }

      &.current {
        font-weight: bold;
        background-position: center -400px;
        color: $black;
      }
    }
  }

  @for $i from 1 through 20 {
    .workflow-event.of-#{$i} { width: percentage((100 / $i) * .01); }
  }
}


.bulk-item-actions {
  background: $gray;
  color: $white;
  padding: 0.5rem;
  font-size: 90%;
  line-height: 1.5rem;
  border: 1px solid $grayLight;
  border-bottom-width: 0;
  margin-bottom: 0.25rem;

  .link {
    text-transform: uppercase;
    color: $white;
  }

  .inline-label {
    padding-right: 1rem;
  }

  .row  {
    .columns, .column {
      padding: 0;

      &.checkbox-column {
        font-size: 1rem;
        padding-right: 0 !important;
        input[type="checkbox"] {
          margin: 0 !important;
          cursor: pointer;
        }
      }
    }
  }
}


section.invoice-section {
  padding: 0.5rem 1rem;
  background: $grayGhost;
  position: relative;

  .column, .columns {
    padding-left: 0;
  }

  .form-field, button, .button {
    margin-bottom: 0;
  }

  .invoice-id {
    margin: -0.5rem 0 0.5rem 0;

    .label {
      text-transform: uppercase;
      font-size: 90%;
      display: inline;
      padding-right: 0.25rem;
      color: $grayLight;
    }
  }

  .link.invoice-customize-recipient {
    font-size: 90%;
    padding-left: 0.5rem;
  }

  .invoice-updated {
    font-style: italic;
    text-align: center;
  }

  .generate-invoice {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }
}
