.record-overview {

  .heading {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.2em;
    margin: 0 0 0.5rem 0;

    .subheading {
      font-weight: normal;
    }
  }

  margin-bottom: 0.25rem;
  line-height: 1.5em;

  .label {
    text-transform: uppercase;
    font-size: 75%;
    color: $grayLight;
    padding-right: 0.5em;
    display: inline;
    font-weight: normal;
  }

  .overview-element, .detail-element {
    // margin-bottom: 0.5rem;

    &.primary {
      font-weight: bold;
      font-size: 110%;
    }

    &.inline {
      display: inline;
      margin-bottom: 0.5rem;
      padding-right: 1.5rem;
    }
  }

  .selector {
    padding: 0.5em 0;
    background: none;
    border-width: 0;
    margin: 0;
  }
}


.record-detail {
  position: relative;

  line-height: 1.5em;

  .detail-element {

    &.primary {
      font-weight: bold;
      font-size: 110%;
    }

    &.inline {
      padding-right: 1rem;
    }
  }

  &.order-detail {
    background: none;
    padding: 0;
  }

  .heading {
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.2em;
    margin: 0 0 0.5rem 0;

    .subheading {
      font-weight: normal;
    }
  }

  .superheading {
    font-size: 1rem;
    margin: 0 0 0.25rem 0;
  }

  .label {
    display: inline;
    text-transform: uppercase;
    font-size: 90%;
    color: $grayLight;
    padding-right: 0.25rem;
  }
}



.list-item-link {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100%;
  width: 100%;
}


ul.subrecords-list, ul.records-list {
  padding: 0;
  margin: 0;

  .subhead {
    margin: 0.5rem 0 0.25rem 0;
  }

  li {
    padding: 0.75rem 0 0.5rem 0;
    margin-bottom: 0.25rem;
    border: 1px solid $grayLightest;
    border-bottom-color: $grayLighter;
    background: $grayGhost;
    position: relative;

    .subrecord-actions-secondary {
      margin-bottom: -0.5rem;
    }

    .row {
      margin: 0;

      .columns, .column {
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;

        &.checkbox-column {
          padding-right: 0 !important;
          line-height: 1em;

          input[type="checkbox"] {
            margin: 0 !important;
            cursor: pointer;
          }
        }
      }

      .columns.first, .column.first {
        padding-left: 0.5rem !important;
      }

      &.reproduction-fee-options {
        margin-bottom: 1rem;
      }
    }

    input, textarea {
      margin-bottom: 0.25rem;
    }

    .label {
      text-transform: uppercase;
      font-size: 75%;
      color: #999;
      padding-right: 0.5em;
      display: inline;
      font-weight: normal;
    }

    ul {
      margin: 0.5rem 1rem;
      list-style: circle;
      border: none;

      li {
        border: none;
        padding: inherit;
        &:first-child {
          border-top: none;
        }
      }
    }
  }


  &.removed {
    li {
      background: $grayGhost;
    }
  }

  .reproduction-item-fees {
    margin-top: 1rem;
  }


}


.form ul.subrecords-list li {
  background: $grayGhost2;

  &:hover {
    background: $grayGhost2;
  }
}

ul.records-list {
  margin-bottom: 1rem;
}


ul.records-list, ul.orders-list {

  li {
    padding: 0.75rem 0.5rem;
    margin-bottom: 0.25rem;

    &:hover {
      background: $grayGhost2;
      cursor: pointer;
    }
  }
}


ul.orders-list {

  li {

    &.closed {
      background: $gray;
      color: $white;

      .label {
        color: $grayLightest;
      }

      .heading {
        color: $white
      }

      &:hover {
        background: $grayDark;
      }
    }

    .row {
      &.pending, &.reviewing {
        .order-status {
          color: $grayDark;
        }
      }

      &.closed {
        .order-status {
          color: $grayGhost;
        }
      }
    }
  }
}


.subrecord-actions-primary {
  text-align: right;

  .action {
    text-transform: uppercase;
    font-size: 80%;
    line-height: 1.1em !important;
    margin-bottom: 1em;

    div {
      display: inline;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}


.subrecord-actions-secondary {
  padding: 0.25rem 1rem;
  background: $grayGhost2;
  margin: 0.5rem 0 0 0;
  // border-bottom: 1px solid $grayLighter;
  font-size: 90%;

  .item-action {
    display: inline;
    padding-right: 1.5rem;
    color: $grayLight;
    line-height: 1em;
  }

  i {
    padding-right: 0.5rem;
  }
}


.item-status, .order-status {
  font-weight: bold;
  text-align: right;
  font-size: 105%;
  line-height: 1.1em;
  margin: 0.5rem 0;

  &.item-deactivated {
    color: $orange;
    font-style: italic;
  }
}


.order-status {
  color: $green
}


// ul.subrecords-list.items-list {

//   li {
//     background: $bodyBackground;

//     &:last-child {
//       padding-bottom: 0;
//     }

//     .row {
//       .columns, .column {
//         padding: 0 0 0 1rem;

//         &.first {
//           padding: 0;
//         }
//       }
//     }

//     .record-detail {
//       background: $grayGhost;
//       padding: 1rem;
//       position: relative;

//       &.order-detail {
//         background: none;
//         padding: 0;
//       }
//     }
//   }
// }


.reproduction-detail {
  background: $grayGhost2;
  border: 1px solid $grayLightest;
  border-bottom-color: $grayLighter;
  border-right-color: $grayLighter;
  margin: 0.75rem 0;
  padding: 0.5rem 0.75rem;

  ul li {
    background: none;
  }

  .subhead {
    margin-top: 0 !important;
  }
}


.other-open-orders {
  background: $grayGhost2;
  padding: 0.25rem 0.5rem;
  border: 1px solid $grayLighter;
  font-size: 90%;
  line-height: 1.5em;

  .activation-link {
    text-transform: uppercase;
    display: inline;
    white-space: nowrap;
  }

  .callout {
    font-size: inherit;
    font-style: italic;
  }

}



.item-workflow-actions {
  margin-bottom: 0.75rem;
  margin-top: 0.5rem;
}
