// Place all the styles related to the reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.table-options {
  margin: 0;
  padding: 0.4rem 0.5rem;
  line-height: 1em;
  font-size: 90%;

  .link {
    text-transform: uppercase;
    font-size: 90%;
  }

  .info {
    padding-right: 0.5rem;
  }
}

.date-config {
  margin: 1rem 0;

  .date-range-options {
    margin: 0 0 0.5rem 0;

    .button, input {
      margin: 0;
    }
  }

  .label {
    display: inline;
    padding-right: 1rem;
  }

  .date-option {
    padding-right: 1rem;

    .selected {
      font-weight: bold;
    }
  }
}
