// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ldap-user-form {
  padding: 0.5rem 0.75rem 0.75rem 0.75rem;
  background: $grayGhost;
  margin-bottom: 1rem;
  border: 1px solid $grayLighter;

  input, .button {
    margin-bottom: 0;
  }
}

.login-notice {
  margin: 1rem 0;
  font-weight: bold;
}
