$white: #fff;
$black: #000;

$red: #CC0000;
$red2: #990000;
$orange: #D14905;
$yellow: #FDD726;
$green: #7D8C1F;
$green2: #5F691B;
$blue: #427E93;
$blue2: #184e61;
$indigo: #4156A1;

$blueGray1: #617a83;
$blueGray2: #3a494e;

$greenLight: #e8eebe;
$pink: #f8d4d6;

$grayDarkest: #202121; //222
$grayDarker: #323333; //333
$grayDark: #4b4d4c;
$gray: #636665; //#666
$grayLight: #989c9b; //999
$grayLighter: #cacfce; //ccc
$grayLightest: #e1e5e5; //e1e1e1
$grayGhost: #EBF0EF;
$grayGhost2: #F5F7F7;

$linkColor: $blue;
$textColor: $grayDark;
$bodyBackground: $white;

$yellowLight: #FDF1B5;

/* Foundation overrides */

$h1-font-size: rem-calc(32);
$h2-font-size: rem-calc(24);
$h3-font-size: rem-calc(21);
$h4-font-size: rem-calc(18);
$h5-font-size: rem-calc(14);
$h6-font-size: 1rem;
$paragraph-line-height: 1.4rem;
