<div ng-controller="LocationsEditCtrl as ctrl">

  <div ng-include="ctrl.templateUrl('common/app_header')"></div>

  <main>

    <h1>Edit location</h1>

    <div ng-show="loading" ng-include="ctrl.templateUrl('common/processing')"/>

    <div ng-hide="loading">

      <div ng-include="ctrl.templateUrl('locations/form_fields')"/>

      <button class="button" ng-click="ctrl.updateLocation()">Update</button>
      <button class="button" ng-click="ctrl.goto('/locations')">Cancel</button>

    </div>

    <div ng-if="debug" class="data-panel">
      {{ ctrl.circaLocation | json }}
    </div>

  </main>

</div>
