<div ng-controller="LocationsListCtrl as ctrl">

  <div ng-include="ctrl.templateUrl('common/app_header')"></div>

  <main>

    <h1>Locations</h1>

    <p>Locations listed here are managed by Circa as temporary locations where materials will be used. Permanent storage locations of materials are managed in ArchivesSpace.</p>

    <div class="record-list-actions">
      <div class="record-action">
        <span class="link" ng-click="ctrl.goto('locations/new')">
          <i class="fas fa-plus-circle"></i>Create new location
        </span>
      </div>
    </div>


    <div
        ng-show="loading"
        ng-include="ctrl.templateUrl('common/processing')">
    </div>


    <div ng-hide="loading">

      <div
          class="empty-list-label"
          ng-if="ctrl.circaLocations.length == 0">
        No locations found
      </div>

      <ul class="records-list locations-list">

        <li ng-repeat="location in ctrl.circaLocations">

          <span class="list-item-link" ng-click="ctrl.showLocation(location['id'])"></span>

          {{ location['title'] }}

          <span
              ng-if="location['default']"
              class="default-append">
            (default)
          </span>

        </li>

      </ul>

    </div>


    <div ng-if="ctrl.debug" class="data-panel">
    {{ ctrl.circaLocations | json }}
    </div>

  </main>

</div>
