<header class="contain-to-grid simple-header">

  <div class="top-bar">
    <%= render partial: 'layouts/current_user' %>

    <div class="name">
      <%= image_tag('circa.png', alt: "Circa") %>
      <a href="/" title="Circa" rel="home" id="home-link"><span>Circa</span></a>
    </div>

  </div>

</header>
