<header class="contain-to-grid simple-header">

  <div class="top-bar">
    <%= render partial: 'layouts/current_user' %>

    <div class="name">
      <a href="//lib.ncsu.edu" title="NCSU Library" rel="home" id="logo">
        <%= image_tag('ncsu-library-logo-white.png', alt: "NCSU Libraries") %>
      </a>
    </div>

  </div>

</header>
