<!DOCTYPE html>
<html lang="en" ng-app="circaApp">

<%= render partial: 'layouts/head' %>

<body>

  <% if Rails.env == 'staging' %>
  <div class="environment-label">
    <i class="fa fa-bolt"></i>
    This is the STAGING version -- not for production use
    <i class="fa fa-bolt"></i>
    </div>
  <% end %>


  <div class="off-canvas-wrap">
    <div class="inner-wrap">

      <%= render partial: 'layouts/header' %>

      <%= yield %>

      <%# render partial: 'layouts/footer' %>

    </div>
  </div>

  <!-- js -->
  <%= javascript_include_tag 'application' %>

</body>

</html>
